<h5 class="text-center">Tájékoztató a 2022/2023. tanév beiratkozásról</h5>
<p class="text-center"><strong>A krétán való jelentkezés lehetséges, de a személyes megjelenés kötelező!</strong>
</p>
<h6 class="text-center">
    Tisztelt Szülők!

</h6>
<h6 class="text-center">
    A 2022/2023. tanévre történő általános iskolai <strong>beiratkozás időpontja: <br>
        2022. április 21–22. 8:00–19:00</strong>
</h6>

<p class="text-left">
    A szülőnek a beiratkozás napján személyesen meg kell jelennie az intézményben. A beiratkozáshoz szükséges adatok
    előzetesen, a KRÉTA rendszeren keresztül is megküldhetők az intézmény számára, gyorsítva ezzel az általános
    iskolai beiratkozás folyamatát.
</p>
<p class="text-left">
    A szülőknek az előzetes, elektronikus jelentkezés beküldésére<br>
    2022. április 6 – április 22. 12 óra között van
    lehetősége.
</p>
<p class="text-left" style="margin-bottom: 0;">
    <strong> Az online adatok rögzítésének menete:</strong>
</p>
<ul class="text-left">
    <li>
        <em>
            Amennyiben nagyobb gyermeke iskolánk tanulója, akkor a KRÉTA rendszeréhez már rendelkezik belépési
            azonosítóval.
        </em>
    </li>
    <ol>
        <li>Belépve a KRÉTA rendszerbe, válassza ki az e-Ügyintézés lehetőségét! </li>
        <li>Válassza ki az Ügyintézés indítása menüt! </li>
        <li>Kattintson a Beiratkozás általános iskolába menüpontra! </li>
        <li>A megnyíló felületen adja meg a szükséges adatokat!</li>
        <br>

    </ol>
    <li><em>Amennyiben nincs iskolánk KRÉTA rendszeréhez belépési jogosultsága:</em></li>
    <ol>
        <li>Nyissa meg a https://eugyintezes.e-kreta.hu/kezdolap weboldalt! </li>
        <li>Regisztráljon új ideiglenes felhasználóként! </li>
        <li>Belépés után válassza ki az Ügyintézés indítása menüt! </li>
        <li>Kattintson a Beiratkozás általános iskolába menüpontra! </li>
        <li>A megnyíló felületen adja meg a szükséges adatokat és válassza ki a listából iskolánkat!</li>
    </ol>
</ul>
<p class="text-left">
    A részletes tájékoztató pdf formátumban az alábbi linkekre kattintva megtekinthető vagy letölthető.
</p>

<hr style="margin-top: 1rem; margin-bottom: 1rem;">
<h6 class="text-center">
    <a href="tajekoztato_beiratkozasrol_szuloknek_2022.html"><i
            class="fas fa-file-pdf"></i>&ensp;Megtekintés</a>&emsp14;&emsp14;
    <a href="assets/hirfolyam/tajekoztato_beiratkozasrol_szuloknek_2022.pdf" target="_blank" download><i
            class="fas fa-download"></i>&thinsp;Letöltés</a>
</h6>
<hr style="margin-top: 1rem; margin-bottom: 1rem;">

<p class="text-right" style="margin-right: 4rem; margin-bottom: 0;">
    <img src="assets/img/wa_sign.jpg" alt="Winkler Andrea aláírás">
</p>
<p class="text-right" style="margin-right: 6rem;">
    <em>Winkler Andrea</em>&ensp;<br>
    intézményvezető
</p>