<p class="text-left">
  Gyermekkorom legszebb éveit töltöttem Petőfi-telepen. Itt nevelkedtem, s
  büszke vagyok rá, hogy dédnagymamám, nagymamám, anyukám és én magam is ide, a
  telepre jártam iskolába, s most itt taníthatok!
</p>
<p class="text-left">
  Több mint 20 éves tanítói tapasztalattal kezdem a következő tanévet s várom
  újra az osztályomba iratkozó gyermekeket. Rajz-vizuális kultúra szakkollégiumi
  végzettséggel is rendelkezem.
</p>
<p class="text-left">
  Szeretetteljes, biztonságos légkör kialakítására törekszem, fontosnak tartom,
  hogy egymást segítő és megbecsülő csapatot formáljak a rám bízott gyermekek
  közösségéből. A célom, hogy a gyerekek szeressék az iskolát, találják meg,
  miben tehetségesek. Ennek érdekében nagyon sok kreatív tevékenységet végzünk,
  rengeteg pályázaton, versenyen indulunk, sikerrel.
</p>
<p class="text-left">
  Szívügyem az agyagozás, a nemezelés és a különleges kézműves technikák,
  amelyeket rendszeresen beépítek az oktatásba, a mindennapokba.
</p>

<p class="text-left">
  Osztályfőnökként a humán tantárgyakat, a rajzot és az éneket fogom tanítani az
  osztályomnak. A tevékenykedtető, élményt adó, játékos tanulást részesítem
  előnyben.<br>Sok-sok dicsérettel, pozitív megerősítéssel ösztönzöm tanulóimat.
</p>

<p class="text-left">
  Vallom, hogy az első, legfontosabb lépés, hogy a kisdiák jókedvvel, motiváltan
  lépjen be az iskola kapuján, szeressen ide járni, s ennek megvalósulásáért –
  úgy gondolom – igen sokat teszek a munkám során. Lendületes, energikus típus
  vagyok, a vidám, feszültségmentes órák híve.
</p>

<p>
  <em>Szeretettel várom gyermekét iskolánk családias közösségébe!</em>
</p>
<p class="text-right">
  <em>
    Erdélyi Mariann&emsp;<br />
    tanító néni&emsp;
  </em>
</p>