<div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-3 text-center">
        <img src="{{root}}assets/img/bsai_logo_nagy.jpg">
    </div>
    <div class="cell small-12 medium-6">
        {{> elerhetoseg-bs}}
    </div>
    <div class="cell small-12 medium-3"> <img src="{{root}}assets/img/psai-qrcode.png" style="width: 128px">
    </div>
</div>
<p class="text-center">Az intézmény igazgatója Winkler Andrea<br>
    tagiskola-igazgató: Porkolábné Papp Zsuzsanna
    <br></p>
<p>
    „Mi azt akarjuk, hogy az iskola családi otthon legyen, <br>
    ahol kinyílik a szív és feltárulnak a gondolatok”<br>
    (Célestin Freinet)
</p>
{{> bemutatkozas_bs_markdown}}
<div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-6">
        <p class="text-center">
            <img src="{{root}}assets/img/wa_sign.jpg"> <br>
            <em>Winkler Andrea</em><br />
            igazgató
        </p>
    </div>
    <div class="cell small-12 medium-6">
        <p class="text-center">
            <img src="{{root}}assets/img/ppzs_sign.jpg"> <br>
            <em>Porkolábné Papp Zsuzsanna</em><br />
            tagintézmény-igazgató
        </p>
    </div>
</div>