<h5>
  <em>Kedves Szülők!</em>
</h5>

<p class="text-left">
  Szabó Amanda vagyok. Több mint 15 évet tanítással töltöttem, közben többféle oktatási módszerrel volt szerencsém
  megismerkedni. Mindegyikből hoztam magammal valamit, de egy dolog mindig jelen volt a munkámban: a bizalommal teli,
  őszinte, biztonságos légkör kialakítása.
</p>

<p class="text-left">
  A pályám kezdetén megtanultam a differenciálás fontosságát. Hiszen mindenki máshonnan indul és másfelé tart. Ezért
  nagyon fontos, hogy az egyéneket terelgessem a maguk útján, mindezt szeretetteljes és összetartó közösségben. Már első
  osztályban kialakítjuk a gyerekekkel azt a támogató közeget, amiben az egyéni teljesítmény értékelése a hangsúlyos.
  Pozitív visszajelzésekkel ösztönözzük egymást a fejlődésben.
</p>

<p class="text-left">
  Később megtapasztaltam az erdei iskola jótékony hatását. A kiegyensúlyozott élet egyik legfontosabb eleme a
  természettel való összhang kialakítása. Ennek megismerése pedig kizárólag saját élményen keresztül történhet. Munkám
  során igyekszem minél több időt tanulással a szabadban tölteni a gyerekekkel, így egy komplex világkép alakulhat ki
  bennük. A projektek, témák sokoldalú körbejárása lehetővé teszi számukra, hogy egységben lássák a világot.
</p>
<p class="text-left">
  Saját megélésből tudom, hogy milyen fontos mindenkinél megtalálni azt a területet, amiben kiemelkedő. A tanulókat
  különböző eszközökkel igyekszem támogatni annak érdekében, hogy képességeik még jobban ki tudjanak teljesedni.
</p>

<p class="text-left">
  A legfontosabbnak azt tartom, hogy a jókedvet megőrizve legyek az összetartó csapat építője. Hiszem azt, hogy ha a
  gyermek jól érzi magát az iskolában, akkor már nyert ügyünk van. Így nem veszti el kíváncsiságát a világ felfedezése
  iránt.
</p>

<h5>
  <em>Kedves leendő kis elsősök!</em>
</h5>
<p class="text-left">
  Biztosan ti is izgultok már, hogy mi vár Rátok az iskolában. Megnyugtatlak Benneteket, hogy rengeteg játék és mese
  mellett ismerjük meg a betűk és számok országát. Csupa izgalmas kaland vár majd Ránk. Szeptemberben várunk Benneteket,
  csöppenjenek bele ti is a PETŐFISEK világába!
</p>

<p>
  <em></em>
</p>
<p class="text-right">
  <em>
    Szabó Amanda&emsp;<br />
    osztálytanító&emsp;
  </em>
</p>