<h5>
  <em>Kedves Szülők, Gyerekek, leendő, kis Elsőseink!</em>
</h5>

<p class="text-left">
  Májer Szilvia tanító néni vagyok.
</p>

<p class="text-left">
  Tanítói (ének-zene szakkollégium), óvónői és fejlesztő pedagógusi diplomával rendelkezem.
</p>

<p class="text-left">
  Több mint három évtizedes gyakorlattal várom a leendő osztályomba beiratkozó tanulókat a Szegedi Petőfi Sándor
  Általános Iskolában.
</p>
<p class="text-left">
  Óvónői végzettségem segít majd az első időszak izgalmainak oldásában. Támaszkodom az óvodában tanultakra, felidézzük a
  tanult dalokat, mondókákat, verseket. A tanóráimba sok játékos, mozgásos elemet építek be, mert nehéz a gyermekeknek
  négy tanórát végigülni. Mindennap lesz mese.
</p>

<p class="text-left">
  A fejlesztő foglalkozásokon képességfejlesztéssel igyekszem a gyermekeket sikerélményhez juttatni.
</p>
<p class="text-left">
  Fontosnak tartom a zenei nevelést, mert ez sokoldalúan formálja a gyermekeket.
</p>

<p class="text-left">
  Alapos előkészítő időszak után fogunk majd bele a betűtanulásba, számolásba. Ez idő alatt a gyermekek közötti
  esetleges különbségeket is szeretném elsimítani. Egyéni bánásmódra törekszem, hogy minden gyermek a neki megfelelő
  tempóban és módon fejlődhessen.
</p>

<p class="text-left">
  Felfrissülésként a tanórákon is előkerülnek az énekek, mondókák. Énekórán körjátékokat is tanulunk, az óvodához
  hasonlóan. A tanórákon is alkalmazok fejlesztőjátékokat – például figyelemfejlesztés –, mely mindenki számára hasznos.
</p>
<p class="text-left">
  A kornak megfelelően kiaknázom a digitális tábla adta lehetőségeket. Alkalmat teremtek az interaktivitásra,
  ismeretszerzésre, gyakorlásra, fejlesztő játékra.
</p>
<p class="text-left">
  Szeretetteljes, biztonságos, feszültségmentes légkör kialakítására törekszem. Összetartó, elfogadó, egymást segítő
  közösséget szeretnék kialakítani. Törekszem az együttes élmények közös megélésére, például a jeles napokról való
  megemlékezésekkel.
</p>
<p class="text-left">
  A célom, hogy a gyerekek szeressék az iskolát, vegyék észre, mindenki tehetséges valamiben. Ennek érdekében széles
  körűen foglalkoztatom, tevékenykedtetem a gyermekeket. Indítom a tehetségeseket pályázatokon, versenyeken.
</p>
<p class="text-left">
  Arra törekszem, hogy a tanítványaim mindennap pozitív érzésekkel, élményekkel térjenek haza. Sokat dicsérek, biztatok.
  A pozitív megerősítés híve vagyok.
</p>

<p class="text-left">
  A Szegedi Petőfi Sándor Általános Iskola gyermekközpontú, családias légköre mellett kellő életteret is biztosít a
  diákoknak.
</p>
<p class="text-left">
  <em>Szeretettel várom gyermekét iskolánk szeretetteljes közösségébe!</em>
</p>

<p>
</p>
<p class="text-right">
  <em>
    Májer Szilvia&emsp;<br />
    osztályfőnök&emsp;
  </em>
</p>