<p class="text-left">
  Szegeden születtem, és egy kis kitérő után négy éve újra visszatértem szülővárosomba.
</p>

<p class="text-left">
  Műveltségterületem az angol.
</p>

<p class="text-left">
  Húsz éve vagyok a pályán, s nagy izgalommal várom az iskolánkba érkező gyermekeket. Igyekszem mindent megtenni annak
  érdekében, hogy harmonikus legyen számukra az átmenet az óvoda és az iskola között, szívesen jöjjenek, jól érezzék
  magukat az iskolában.

</p>
<p class="text-left">
  Tanítási óráimon fontos szerepet kap a játék, mely az első osztályban különösen fontos a még óvodás gyerekeknek, akik
  lassan válnak iskolássá. Számukra nélkülözhetetlen az érzelmi biztonság, a szeretet, a bizalom. Ezt sok-sok mozgással,
  verssel, mesével, zenével, és persze rengeteg türelemmel és szeretettel igyekszem elősegíteni. Minden kisgyermek más
  és más. Hiszem, hogy önmagukhoz és képeségeikhez mérten kell a fejlődésüket nézni. Dicséretekkel jól lehet őket
  motiválni.
</p>

<p class="text-left">
  Szívesen próbálok ki új módszereket, nyitott vagyok a jó ötletekre, érdekelnek a gyerekekkel foglalkozó könyvek,
  blogok. Munkám során igyekszem a nyugodt, szeretetteljes, vidám légkör kialakítására. Mindent megteszek, hogy a kis
  tanulók elfogadóak, megértőek, segítőkészek legyenek egymással.

</p>

<p class="text-left">
  A tanítás néha nem olyan könnyű, de együtt- szülő, gyermek, tanítók- igazán jó eredményeket tudunk elérni, ha
  összefogunk.
</p>

<p>
  <em>Szeretettel várom gyermeküket iskolánkba!</em>
</p>
<p class="text-right">
  <em>
    Kelemen Babett&emsp;<br />
    tanító néni&emsp;
  </em>
</p>