<p class="text-left">
  Savanya Béláné Hegyi Éva vagyok, a gyerekek és a szülők leginkább Éva néninek hívnak. 18 évesen nem tudtam eldönteni,
  hogy mi szeretnék lenni, így elvégeztem az Egészségügyi Főiskolán lévő Szociális Munkás – képző szakot. Négy gyermekem
  van, 2 fiú és 2 lány. A gyermekeim megszületésekor, nevelésekor erősödött meg bennem az a gondolat, hogy tanító
  legyek. Elvégeztem a tanítóképzőt. Nagyon boldog vagyok, mert elmondhatom, hogy rátaláltam arra a foglalkozásra, amit
  nagy szeretettel tudok végezni. Örülök, amikor taníthatom a gyerekeket, amikor felcsillan a szemük és látom, hogy
  megértettek egy adott összefüggést.
</p>
<p class="text-left">
  Egy óvodás gyermek számára hatalmas váltás az iskola. Új közösség, szokatlan környezet, ismeretlen felnőttek. A napi
  ritmusuk is egészen megváltozik. Számomra mindig is fontos volt, hogy ezt a nagy váltást minél könnyebbé tegyem az
  elsősök számára. Nélkülözhetetlen, hogy barátságos és vidám légkör vegye őket körül, hogy biztonságban érezzék
  magukat. A tantárgyak alapjainak a megtanítását is játékos formában, minél több mozgással, tevékenységekkel végezzük.
  Sokat dicsérem őket.
</p>
<p class="text-left">
  Jelenleg: matematikát, környezetismeretet, rajzot, technikát és testnevelést tanítok. A matematika tanításnál
  fontosnak tartom, hogy a gyerekek megtanuljanak gondolkodni és olyan logikus következtetéseket tudjanak levonni, amit
  alkalmazni is tudnak.
</p>
<p class="text-left">
  Vizuális nevelés a műveltségterületem, így akik ismernek tudják, hogy ennek a tárgynak a tanítását szeretem a
  legjobban. Építek a tantárgyi koncentráció lehetőségeire. Ez lehetőséget ad a több órát érintő projektmunkára is, amit
  szoktam alkalmazni. Lehetőség szerint tartok rendhagyó órákat, hogy a gyerekek minél több technikát megtanuljanak az
  alkotásaik elkészítéséhez és élményeket szerezzenek ez által is.
</p>
<p class="text-left">
  Testnevelés óráink igen színesek. Sok élmény éri a tanulókat, különféle labdajátékokat tanulnak meg, játékos formában.
  A hagyományőrző néptánc oktatásba is bekapcsolódnak és lehetőség szerint a közeli vízitelep életében is részt veszünk.
  Nagy előny, hogy a testnevelés órába beépítve úszásoktatásra is van lehetőség.
</p>
<p class="text-left">
  Célom, hogy a gyerekek szeressenek iskolába jönni és akarják a tudást elsajátítani. Örülök, hogy ebben az iskolában
  megoldott, hogy hosszabb idejű szüneteket is biztosíthatunk a tanulóink számára.
</p>
<p class="text-left">
  Tanítópárommal jól együtt tudunk dolgozni. Célunk, hogy családias, segítő és barátságos légkört alakítsunk ki az
  osztályunkban, ahol a gyerekek jól érzik magukat!
</p>

<p>
  <em>Nagy szeretettel várom a leendő első osztályosokat!</em>
</p>
<p class="text-right">
  <em>
    Éva néni&emsp;
  </em>
</p>