<h5>
  <em>Kedves Szülők, Gyerekek, leendő, kis Elsőseink!</em>
  </h5>

<p class="text-left">
  Széllné Bartók Mária vagyok, a leendő 1. b osztály egyik tanító nénije.
</p>


<p class="text-left">

  Számomra a tanítás – tanulás – nevelés, az értékteremtés, az ismeretek átadása életem és eddigi pályám meghatározói.
  Szeretek tanítani, gyerekekkel foglalkozni. Az odaadó, következetes, fegyelmezett, szeretetteljes munkára épülnek a
  mindennapjaim iskolán belül és kívül egyaránt.
</p>

<p class="text-left">
  Hivatásomban a legnagyobb kihívásnak és egyben a legszebb feladatnak tartom az első osztályba lépő kisgyermekek előtt
  kitárni a tudás kapuját, megszerettetni a tanulást. Mindezt derűs, nyugodt, szeretetteljes légkörben élményként éljük
  meg: sok játékkal, izgalmas feladatokkal, a modern digitális eszközök rendszeres használatával. Mindezekre és a
  kíváncsiságukra építve a gyerekek a személyiségüknek megfelelően a maximális tudást, neveltetést és eszköztárat kapják
  meg, hogy később legyen mibe kapaszkodniuk, biztos alapjuk legyen minden tekintetben.
</p>

<p class="text-left">
  Nagy figyelmet fordítok a tehetségek felismerésére, a tehetséggondozásra, valamint a tanulási zavarral küzdők
  segítésére, folyamatos fejlesztésére.
</p>

<p class="text-left">
  A leendő 1. b osztályban az irodalom, magyar nyelv, környezetismeret és rajz tantárgyakat fogom tanítani. Célom, hogy
  segítségükre legyek ebben az új, izgalmas élethelyzetben, hiszen legféltettebb kincsük, gyermekük biztonságát,
  oktatását és nevelését bízzák rám.
</p>

<p class="text-left">
  Sok év tanítói tapasztalattal a hátam mögött megtisztelő feladat, hogy részt vehetek gyermekük világképének
  formálásában, személyiségének fejlesztésében.
</p>

<p class="text-left">
  <em> Ilike nénivel együtt örömmel és kíváncsian várjuk a szeptemberi találkozást az 1. b osztályban!
  </em>
</p>



<p>
</p>
<p class="text-right">
  <em>
    Széllné Bartók Mária&emsp;<br />
    osztályfőnök&emsp;
  </em>
</p>