<p class="text-left">
  25 éve tanítok a tápéi Bálint Sándor Tagiskolában. Alsó tagozaton egész napos, iskolaottho-nos oktatási formában
  dolgozunk. Saját osztályomban kezdettől fogva a humán tantárgyakat (anyanyelv, ének) tanítom. Tanítópárommal arra
  törekszünk, hogy a ránk bízott gyermekek barátságos, elfogadó, szeretetteljes környezetben éljék meg a hétköznapokat.
</p>
<p class="text-left">
  A tevékenykedtető, felfedező, játékos tanulást részesítem előnyben. Sok dicsérettel, pozitív megerősítéssel ösztönzöm
  tanítványaimat.
</p>
<p class="text-left">
  Kiemelt feladatomnak tekintem a tehetségek felkarolását. Szerencsésnek érzem magam, mert sok érdeklődő, nyitott, jó
  képességű tanítvánnyal dolgozhatok (dolgozhattam) együtt, akik inspirálnak. Tanórákon, egyéni foglalkozásokon,
  versenyeken és vetélkedőkön biztosí-tom a lehetőséget tehetségük kibontakoztatására.
</p>
<p class="text-left">
  Emellett nagy gondot fordítok a tanulási nehézséggel küzdő és hátrányos helyzetű tanulók problémáinak feltárására,
  megoldására.
</p>
<p class="text-left">
  Érdekes, testreszabott feladatokkal; változatos munkaformák és korszerű digitális eszközök alkalmazásával igyekszem
  felkelteni és fenntartani tanítványaim figyelmét. Tanóráimon mindenki a saját tempójában haladhat, figyelembe véve az
  egyéni képességeket.
</p>
<p class="text-left">
  Érdeklődésem középpontjában a zene, az éneklés áll. Kihasználva a tantárgyi koncentráció lehetőségeit szinte egy nap
  sem telik el nálunk éneklés, zenehallgatás nélkül. Osztályomban a zenét tanuló gyerekek aránya igen magas. Hosszú évek
  óta vezetem a Kicsinyek Kórusát. Rendszeresen fellépünk az iskolai és a helyi rendezvényeken. Várom az utánpótlást!
</p>
<p class="text-left">
  A zenetanulás jótékony hatása megmutatkozik a gyerekek iskolai teljesítményében és szoci-ális viselkedésében is.
</p>
<p class="text-left">
  Fontos számomra, hogy tanítványaim jól használható, korszerű ismeretek birtokába jussa-nak.
</p>
<p class="text-left">
  Igyekszem mindent megtenni annak érdekében, hogy zökkenőmentes legyen az óvoda és iskola közötti átmenet; hogy kis
  elsőseink érzelmi biztonságot nyújtó, családias környezet-ben barangolhassanak a betűk- és számok világában. Remélem,
  legkésőbb tavasszal létrejön a személyes találkozó is az iskolaelőkészítő foglalkozásokon!
</p>


<p>
  <em>Nagyon sok szeretettel várom a leendő elsősöket!</em>
</p>
<p class="text-right">
  <em>
    Edina néni&emsp;
  </em>
</p>