<h5>
  <em>Kedves Szülők, leendő kis Elsőseink!</em>
</h5>



<p class="text-left">
  Kisné Fülöp Ilona vagyok, a tanítványaim Ilike néninek szólítanak. Több, mint három évtizede a tápéi Bálint Sándor
  Tagiskolában tanítok, szeretem az intézmény gyermekközpontú, barátságos légkörét és az iskolaotthonos
  nevelési-oktatási rendszert.
</p>

<p class="text-left">
  Iskolánkban két tanítós modellel dolgozunk és a jelenlegi osztályomban a matematika, etika, technika, testnevelés,
  ének-zene tantárgyakat tanítom.
</p>

<p class="text-left">
  A matematika megszerettetése különösen a szívügyem. A legfontosabbnak az élményszerű tanítást, tanulást tartom.
  Hiszem, hogy a gyerekekben a játékosan megszerzett tudás mélyül el a leginkább, és így a tanulás egy észrevétlen
  örömteli tevékenységgé válik. Ezért tanítás közben szívesen alkalmazom a gyerekek körében manapság nagyon népszerű
  eszközöket, játékokat és digitális tananyagokat.
</p>

<p class="text-left">
  Nagyon szeretek alkotni, kézműveskedni, ezért szívesen tanítom a technika tantárgyat is. Az órákon hagyományos és
  modern technikákkal ismerkedünk meg, amivel igyekszem fejleszteni a gyermekek finommozgását, fantáziáját,
  kreativitását. Rendhagyó tanórákon a népi iparművészet mesterségeit is kipróbáljuk.
</p>
<p class="text-left">
  Testnevelés óráinkon a mozgás mellett fontos szerepet kap a játék. A játék pozitívan hat a gyermekek testi-lelki
  fejlődésére, még a tanulási nehézségek is javíthatóak általa. A&nbsp;mindennapos testnevelés keretében még
  úszásoktatás és
  hagyományőrző néptánc tanítása fejleszti a kisiskolások mozgáskultúráját.
</p>

<p class="text-left">
  Iskolánkban a tehetséggondozás kiemelt jelentőségű. A&nbsp;képesség kibontakoztatását nemcsak a tanórákon és egyéni
  foglalkozásokon, hanem versenyeken és pályázatokon is próbálom megvalósítani.
</p>

<p class="text-left">
  Tanítópárommal közös célunk, hogy olyan családias, segítő és barátságos légkört alakítsunk ki, ahol a gyerekek jól
  érzik magukat.
</p>
<p class="text-left">
  Céljaink megvalósítása érdekében számítunk a Szülők segítségére, együttműködésére. A&nbsp;kölcsönös tisztelet és
  bizalom
  lehet az alapja négyéves, eredményes munkánknak.
</p>

<p class="text-left">
  <em>Nagy örömmel és izgalommal várom a leendő első osztályosokat!</em>
</p>

<p>
</p>
<p class="text-right">
  <em>
    Kisné Fülöp Ilona&emsp;<br />
    osztályfőnök&emsp;
  </em>
</p>