{{#markdown}}
##### {{title}}
- A közétkeztetés igénybevétele a „KÉ-02 Adatfelvételi lap a közétkeztetés igénybevételéhez” kitöltésével
lehetséges.
- A kedvezményes étkezés igényléséhez kapcsolódó dokumentumokat az általános iskola vonatkozásában szintén le
kell adni az étkezési térítési díj befizetése előtt.
- A diétás étkezés igényléséhez az érvényes diétát igazoló **szakorvos** által kiállított
igazolás leadása szükséges, akkor is, ha az óvodában diétás étkezésben részesült a gyermek.
- Az Etelka Portálon történő online fizetéshez, rendeléshez regisztráció szükséges. Az óvodában már
regisztrált felhasználóknak is szükséges kitöltenie a KÉ-02 nyomtatványt, hogy a portál háttérrendszerébe a
megfelelő általános iskolához rögzítésre kerüljön a már regisztrált e-mail cím.

Fenti dokumentumok benyújtására az NGSZ közétkeztetési ügyfélszolgálatán személyesen vagy e-mailben, illetve az
NGSZ honlapján meghirdetett augusztusi készpénzes befizetési napokon van lehetőség.

A Közétkeztetési ügyfélszolgálat (NGSZ) elérhetősége:<br>
**Cím:** 6724 Szeged, Huszár u. 1. (6701 Szeged, Pf.: 485.)<br>
**Telefon:** (62) 561-960<br>
**E-mail:** [kozetkeztetes@ngsz.hu](mailto:kozetkeztetes@ngsz.hu)<br>
**E-mail Online Etelka Portál esetén:** [etelkaportal@ngsz.hu](mailto:etelkaportal@ngsz.hu)<br>

*Ügyfélfogadás:*

- &thinsp;2024. július 1-től 2024. augusztus 2-ig hétfőtől csütörtökig: 7:30–16:00 óráig, pénteken: 8:00–13:00 óráig.
óráig.
- &thinsp;Az előző pontban megadott munkanapoktól eltérő időpontban: hétfő, kedd, csütörtök: 7:30–16:00 óráig, szerda:
7:00–17:00 óráig,pénteken: 8:00–13:00 óráig.

Az [ngsz.hu](https://ngsz.hu/) honlapon a közétkeztetéssel kapcsolatosan minden információ, formanyomtatvány,
tájékoztató megtalálható és letölthető.

Az adatok ETELKA étkezési modulban való rögzítése érdekében, az ügyintézési határidőre tekintettel 2024. július
01-től legkésőbb 2024. augusztus 02. napjáig kérjük megküldeni a kitöltött dokumentumokat ahhoz, hogy augusztusban az
ETELKA Portálon keresztül már a kedvezményes étkezési térítési díjjal történhessen a szeptember havi étkezési időszakra
a fizetés.

Kérem, hogy szíveskedjen felhívni a szülők figyelmét, hogy a megjelölt határidőt követően is befogadásra kerülnek a
beérkező iratok, dokumentumok, de ez esetben – a tanév indítás miatt bejövő nagy adatállományra való tekintettel – az
ügyintézési határidőt követően tud csak a Portálra regisztrálni, valamint jogosultság esetén a kapcsolódó
dokumentumok feldolgozását követően lehet az étkezést ingyenesen megrendelni vagy kedvezményes áron befizetni.

{{/markdown}}