//gets sub directories of galeriak directory
$subDirectoriesAsc = scandir($mainDir);
//removes the first two indexes in the directories array that are just dots
unset($subDirectoriesAsc[0]);
unset($subDirectoriesAsc[1]);
// Megfordítja a tömböt az időrendben fordított albumbetöltés érdekében.
$subDirectories = array_reverse($subDirectoriesAsc);
// first loop through all sub directories ...
foreach ($subDirectories as $subDirectory) {
echo '
<div class="cell small-12 large-3">
    <div class="cell">
        <div class="card">';
            foreach (glob($mainDir . '/' . $subDirectory . '/*.jpg') as $file) {
            $albumcim = file_get_contents($mainDir . '/' . $subDirectory . '/' . 'album.txt');
            if (isset($_POST['submit'])) {
            $name = $_POST['folder'];
            $cim = $_POST['title'];
            }
            echo '<form action="galeria_2024_25_ps.php" method="post">
                <img src="' . $file . '">
                <div class="card-section">
                    <p class="text-center">' . $albumcim . '</p>
                    <input type="hidden" value="' . $subDirectory . '" name="folder">
                    <input type="hidden" value="' . $albumcim . '" name="title">
                    <p class="text-center"><input class="hollow button small" type="submit" value="Megnyitás" name="submit" style="margin-top: 0.5rem; margin-bottom: -0.5rem"></p>
                </div>
            </form>
        </div>
    </div>
</div>
';
break;
}
}
?>
</div>