<h3 class="text-center">Petőfi Sándor Általános Iskola Bálint Sándor Tagiskolája<br />
  <small>Fotógalériák 2017–2018</small>
</h3>
<hr>

<div class="grid-x grid-margin-x">

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2017_18/bs/05_30_kihivasnapja.html">
          <img src="{{root}}assets/img/galeriak/2017_18/bs/kihivasnapja/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2017. 05. 30.</strong><br />
            A kihívás napja
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2017_18/bs/05_04_szinhazidelutananyaknapja.html">
          <img src="{{root}}assets/img/galeriak/2017_18/bs/szinhazidelutananyaknapja/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2017. 05. 04.</strong><br />
            Anyák napja, színházi délután
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2017_18/bs/04_19_tavaszipapirgyujtes.html">
          <img src="{{root}}assets/img/galeriak/2017_18/bs/tavaszipapirgyujtes/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2017. 04. 19.</strong><br />
            Tavaszi papírgyűjtés
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2017_18/bs/03_15_marcius15unnepseg.html">
          <img src="{{root}}assets/img/galeriak/2017_18/bs/marc15unnepseg/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2017. 03. 15.</strong><br />
            Március 15-i ünnepség
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2017_18/bs/01_26_triolasvizsgak.html">
          <img src="{{root}}assets/img/galeriak/2017_18/bs/triolasvizsgak/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2017. 01. 26.</strong><br />
            Triola művészeti iskola<br />hangszeres vizsgák
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2017_18/bs/06_22_tanevzaro.html">
          <img src="{{root}}assets/img/galeriak/2017_18/bs/tanevzaro/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2017. 06. 22.</strong><br />
            Tanévzáró
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>