  <h3 class="text-center">Petőfi Sándor Általános Iskola<br />
    <small>Fotógalériák 2017–2018</small></h3>
  <hr>

  <div class="grid-x grid-margin-x">
    
    
    <div class="cell small-12 large-4">
      <div class="cell">
        <div class="card">
          <a href="{{root}}galeriak/2017_18/ps/03_04_marc15unnepseg.html">
            <img src="{{root}}assets/img/galeriak/2017_18/ps/marc15unnepseg/01.jpg">
          </a>
          <div class="card-section">
            <p class="text-center">
              <strong>2018. 03. 14.</strong><br />
              Március 15-ei ünnepség
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="cell small-12 large-4">
      <div class="cell">
        <div class="card">
          <a href="{{root}}galeriak/2017_18/ps/04_19_zoldhet.html">
          <img src="{{root}}assets/img/galeriak/2017_18/ps/zoldhet/01.jpg">
          </a>
          <div class="card-section">
            <p class="text-center">
              <strong>2018. 04. 19.</strong><br />
              Zöld hét
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="cell small-12 large-4">
      <div class="cell">
        <div class="card">
          <a href="{{root}}galeriak/2017_18/ps/04_20_fizikaverseny.html">
            <img src="{{root}}assets/img/galeriak/2017_18/ps/fizikaverseny/01.jpg">
          </a>
          <div class="card-section">
            <p class="text-center">
              <strong>2018. 04. 20.</strong><br />
              Fizikaverseny
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="cell small-12 large-4">
      <div class="cell">
        <div class="card">
          <a href="{{root}}galeriak/2017_18/ps/04_21_tavaszipapirgyujtes.html">
            <img src="{{root}}assets/img/galeriak/2017_18/ps/tavaszipapirgyujtes/01.jpg">
          </a>
          <div class="card-section">
            <p class="text-center">
              <strong>2016. 04. 21.</strong><br />
              Tavaszi papírgyűjtés
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="cell small-12 large-4">
      <div class="cell">
        <div class="card">
          <a href="{{root}}galeriak/2017_18/ps/06_15_ballagas.html">
            <img src="{{root}}assets/img/galeriak/2017_18/ps/ballagas/01.jpg">
          </a>
          <div class="card-section">
            <p class="text-center">
              <strong>2016. 06. 15.</strong><br />
              Ballagás
            </p>
          </div>
        </div>
      </div>
    </div>
     
    <div class="cell small-12 large-4">
      <div class="cell">
        <div class="card">
          <a href="{{root}}galeriak/2017_18/ps/06_20_tanevzaro.html">
            <img src="{{root}}assets/img/galeriak/2017_18/ps/tanevzaro/01.jpg">
          </a>
          <div class="card-section">
            <p class="text-center">
              <strong>2018. 06. 20.</strong><br />
              Tanévzáró
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
