{{> hover}}



<h3 class="text-center">Szegedi Petőfi Sándor Általános Iskola<br>Bálint Sándor Tagiskolája<br />
  <small>Fotógalériák 2018–2019</small>
</h3>
<hr>

<div class="grid-x grid-margin-x">
  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2018_09_03_tanevnyito.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2018_09_03_tanevnyito/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 09. 03.</strong><br />
            Tanévnyitó
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2018_09_07_hangszerbemutato.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2018_09_07_hangszerbemutato/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 09. 07.</strong><br />
            Hangszerbemutató
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2018_09_14_papirgyujtes_osz.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2018_09_14_papirgyujtes_osz/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 09. 14.</strong><br />
            Papírgyújtés
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2018_09_21_drogmegelozes.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2018_09_21_drogmegelozes/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 09. 21.</strong><br />
            Drogmegelőző előadás
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2018_09_28_eu_diaksport_nap.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2018_09_28_eu_diaksport_nap/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 09. 28.</strong><br />
            Európai diáksport nap
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2018_09_28_kutatok_ejszakaja.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2018_09_28_kutatok_ejszakaja/01_cover.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 09. 28.</strong><br />
            Kutatók éjszakája
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2018_10_04_vilagorokseg_vetelkedo.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2018_10_04_vilagorokseg_vetelkedo/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 10. 04.</strong><br />
            Világörökség gyermekszemmel
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2018_10_06_megemlekezes.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2018_10_06_megemlekezes/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 10. 05.</strong><br />
            Az aradi vértanúk napja
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2018_10_19_pav_napok.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2018_10_19_pav_napok/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 10. 19.</strong><br />
            Pályaválasztási napok
          </p>
        </div>
      </div>
    </div>
  </div>



  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2018_10_14_hazi_versmondo_verseny.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2018_10_14_hazi_versmondo_verseny/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 10. 23.</strong><br />
            Házi versmondó verseny
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2018_10_23_megemlekezes.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2018_10_23_megemlekezes/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 10. 23.</strong><br />
            Október 23-i megemlékezés
          </p>
        </div>
      </div>
    </div>
  </div>



  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2018_10_30_buvosvolgy.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2018_10_30_buvosvolgy/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018 10. 30.</strong><br />
            Bűvösvölgy
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2018_sutheto_gyurma_foglalkozasok.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2018_sutheto_gyurma_foglalkozasok/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018 ősz</strong><br />
            Süthető gyurma foglalkozások
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2018_12_04_joga.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2018_12_04_joga/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 12. 04.</strong><br />
            Jóga foglalkozás
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2018_12_05_reneszansz_tanchaz.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2018_12_05_reneszansz_tanchaz/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 12. 05.</strong><br />
            Reneszánsz táncház
          </p>
        </div>
      </div>
    </div>
  </div>




  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2018_12_05_fogapolas.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2018_12_05_fogapolas/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 12. 05.</strong><br />
            Fogápolás
          </p>
        </div>
      </div>
    </div>
  </div>



  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2018_12_06_mikulas.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2018_12_06_mikulas/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 12. 06.</strong><br />
            Mikulás az iskolában
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2018_12_12_kosarpalanta_szedeak.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2018_12_12_kosarpalanta_szedeak/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018 12. 12.</strong><br />
            SZEDEÁK-os kosarasok látogatása
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2018_12_13_rajzverseny.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2018_12_13_rajzverseny/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018 12. 13.</strong><br />
            Rajzverseny
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2018_12_19_adventi_kaszulodes.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2018_12_19_adventi_kaszulodes/01_cover.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018 12. 19.</strong><br />
            Adventi készülődés
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2018_12_20_karacsonyi musor.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2018_12_20_karacsonyi musor/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018 12. 20.</strong><br />
            Karácsonyi műsor
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2018_12_20_kezmuvesszakkor.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2018_12_20_kezmuvesszakkor/01_cover.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018 12. 20.</strong><br />
            Kézműves szakkör
          </p>
        </div>
      </div>
    </div>
  </div>



  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2018_jegkorcsolya.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2018_jegkorcsolya/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018 december</strong><br />
            A koripályán
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2019_01_06_sudoku_haziverseny.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2019_01_06_sudoku_haziverseny/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 01. 06.</strong><br />
            Sudoku háziverseny
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2019_02_07_3_oszt_vizitelepen.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2019_02_07_3_oszt_vizitelepen/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 02. 07.</strong><br />
            A 3. osztályosok edzése a Vizitelepen
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2019_02_14_angol_nyelvi_het.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2019_02_14_angol_nyelvi_het/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 02. 14.</strong><br />
            Angol nyelvi hét
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2019_02_15_farsang.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2019_02_15_farsang/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 02. 15.</strong><br />
            Farsang
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2019_02_22_parasport.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2019_02_22_parasport/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 02. 22.</strong><br />
            Előadás a Magyar Parasport Napján
          </p>
        </div>
      </div>
    </div>
  </div>


  <!--Újak  -->

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2019_03_12_szeg_arviz_koszoruz.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2019_03_12_szeg_arviz_koszoruz/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 03. 12.</strong><br />
            Koszorúzás a szegedi árvíz évfordulóján
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2019_03_15_marcius_15.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2019_03_15_marcius_15/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 03. 14.</strong><br />
            Megemlékezés az 1848–49-es<br>
            forradalom és szabadságharcról
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2019_03_22_teszedd_balint.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2019_03_22_teszedd_balint/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 03. 22.</strong><br />
            „Te szedd!” – önkéntes<br>
            szemétgyűjtési akció
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2019_03_22_viz_vilagnapja.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2019_03_22_viz_vilagnapja/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 03. 22.</strong><br />
            Játékos vetélkedő<br>
            a víz világnapján
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2019_04_26_kecskemet_mercedesz_gyar.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2019_04_26_kecskemet_mercedesz_gyar/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 04. 26.</strong><br />
            Látogatás a kecskeméti Mercedes gyárban
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- ÚÚÚÚÚÚjjj -->
  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2019_04_26_tavaszi_papirgyujtes.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2019_04_26_tavaszi_papirgyujtes/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 04. 26.</strong><br />
            Tavaszi papírgyűjtés
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2019_05_10_megemlekezes_balint_sandorrol.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2019_05_10_megemlekezes_balint_sandorrol/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 05. 10.</strong><br />
            Megemlékezés Bálint Sándorról
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2019_05_11_foci_haziverseny.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2019_05_11_foci_haziverseny/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 05. 11.</strong><br />
            Foci háziverseny
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2019_05_13_szovegertesi_haziverseny.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2019_05_13_szovegertesi_haziverseny/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 05. 13.</strong><br />
            Szövegértés háziversenyseny
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2019_05_29_kihivas_napja.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2019_05_29_kihivas_napja/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 05. 29.</strong><br />
            Kihívás napja
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2019_06_04_epam_latogatas.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2019_06_04_epam_latogatas/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 06. 04.</strong><br />
            EPAM látogatás
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2019_06_04_osszetartozas_napja.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2019_06_04_osszetartozas_napja/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 06. 04.</strong><br />
            Összatartozás napja
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2019_06_13_eli_lezerkozpont_latogatas.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2019_06_13_eli_lezerkozpont_latogatas/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 06. 13.</strong><br />
            ELI lézerközpont látogatás
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/bs/2019_06_14_ballagas.html">
          <img src="{{root}}assets/img/galeriak/2018_19/bs/2019_06_14_ballagas/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 06. 14.</strong><br />
            Ballagás
          </p>
        </div>
      </div>
    </div>
  </div>
</div>