<style type="text/css">
  .close-button.medium {
    color: red;
  }
</style>

{{> hover}}


<h3 class="text-center">Szegedi Petőfi Sándor Általános Iskola<br />
  <small>Fotógalériák 2018–2019</small></h3>
<hr>

<div class="grid-x grid-margin-x">
  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_09_03_tanevnyito.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_09_03_tanevnyito/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 09. 03.</strong><br />
            Tanévnyitó
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_09_07_hangszerbemutato.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_09_07_hangszerbemutato/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 09. 07.</strong><br />
            Hangszerbemutató
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_09_21_drogmegelozes.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_09_21_drogmegelozes/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 09. 21.</strong><br />
            Drogmegelőző előadás
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_09_21_kezmuv_szur_piknik.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_09_21_kezmuv_szur_piknik/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 09. 21.</strong><br />
            Kézműves szakkör szüreti pinkikre
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_09_22_szureti_piknik.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_09_22_szureti_piknik/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 09. 22.</strong><br />
            Szüreti piknik
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_09_28_eu_diaksport_nap.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_09_28_eu_diaksport_nap/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 09. 28.</strong><br />
            Európai diáksport
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_09_28_kutatok_ejszakaja.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_09_28_kutatok_ejszakaja/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 09. 28.</strong><br />
            Kutatók éjszakája
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_10_05_mese_delutan.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_10_05_mese_delutan/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 10. 05.</strong><br />
            Mese délután
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_10_06_megemlekezes.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_10_06_megemlekezes/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 10. 05.</strong><br />
            Megemlékezés az aradi vértanúkról
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_10_16_papirgyujtes_oszi.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_10_16_papirgyujtes_oszi/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 10. 16.</strong><br />
            Papírgyújtés
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_keramia_kezmuv_foglalk.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_keramia_kezmuv_foglalk/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018 ősz</strong><br />
            Kerámia kézműves foglalkozás
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_10_23_megemlekezes.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_10_23_megemlekezes/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 10. 23.</strong><br />
            Október 23-i megemlékezés
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_10_31_halloween.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_10_31_halloween/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 10. 31.</strong><br />
            Halloween
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_11_10_marton_nap.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_11_10_marton_nap/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 11. 10.</strong><br />
            Márton nap
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_11_20_beszelgetes_marton_anitaval.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_11_20_beszelgetes_marton_anitaval/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 11. 20.</strong><br />
            Beszélgetés Márton Anitával
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_kezilabda_edzesek.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_kezilabda_edzesek/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018 ősz</strong><br />
            Kézilabda edzések
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_11_23_egeszseghet.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_11_23_egeszseghet/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 11. 23.</strong><br />
            Egészséghét
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_korcsolya.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_korcsolya/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 11. 23.</strong><br />
            Korcsolyázások
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_12_02_adventi_gyertyagyujtas.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_12_02_adventi_gyertyagyujtas/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 12. 02.</strong><br />
            Adventi gyertagyújtás
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_12_06_mikulas.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_12_06_mikulas/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 12. 06.</strong><br />
            Mikulás az iskolában
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_12_13_luca_nap.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_12_13_luca_nap/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 12. 13.</strong><br />
            Luca nap
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_12_karacsonyi_keszulodes.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_12_karacsonyi_keszulodes/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. december</strong><br />
            Karácsonyi készülődés
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_12_16_telepi_karacsony.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_12_16_telepi_karacsony/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 12. 16.</strong><br />
            Telepi karácsony
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_12_21_karacsonyi_unnepseg.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_12_21_karacsonyi_unnepseg/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. 12. 21.</strong><br />
            Karácsonyi ünnepség
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_gyongyfuzo_szakkor.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_gyongyfuzo_szakkor/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. ősz</strong><br />
            Gyöngyfűző szakkör
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2018_szept_2019_febr_kezmuves.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2018_szept_2019_febr_kezmuves/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2018. ősz – 2019. tavasz</strong><br />
            Kézműves szakkör
          </p>
        </div>
      </div>
    </div>
  </div>



  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2019_01_24_madareteto_keszites.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2019_01_24_madareteto_keszites/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 01. 24.</strong><br />
            Madáretető készítés
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2019_01_29_iskolagyules.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2019_01_29_iskolagyules/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 01. 29.</strong><br />
            Iskolagyűlés
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2019_02_08_triola.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2019_02_08_triola/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 02. 08.</strong><br />
            TRIOLA zeneiskolai vizsga
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2019_02_14_angolos delutan.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2019_02_14_angolos delutan/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 02. 14.</strong><br />
            Angol nyelvi délután
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2019_02_15_farsang.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2019_02_15_farsang/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 02. 15.</strong><br />
            Farsang
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2019_02_21_nepszokasok_felevenitese.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2019_02_21_nepszokasok_felevenitese/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 02. 21.</strong><br />
            Népszokások felevenítése
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2019_02_25_parasport.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2019_02_25_parasport/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 02. 25.</strong><br />
            Előadás, Magyar Parasport Napja
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2019_febr_19_matalent_4oszt.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2019_febr_19_matalent_4oszt/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 02. 19.</strong><br />
            Matematikai tehetségazonosító<br>
            online mérés
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2019_03_15_marcius_15.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2019_03_15_marcius_15/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 03. 14.</strong><br />
            Megemlékezés az 1848–49-es<br>
            forradalom és szabadságharcról
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2019_03_22_teszedd.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2019_03_22_teszedd/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 03. 22.</strong><br />
            „Te szedd!” – önkéntes<br>
            szemétgyűjtési akció
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2019_03_22_zold het.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2019_03_22_zold het/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 03. 22.</strong><br />
            Zöld hét
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2019_03_25_erkolcsi_fogalmak.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2019_03_25_erkolcsi_fogalmak/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 03. 25.</strong><br />
            „Erkölcsi fogalmak” foglalkozások
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2019_04_05_hazi_versenyek.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2019_04_05_hazi_versenyek/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 04. 05.</strong><br />
            Házi versenyek
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2019_04_06_sakk_orsz_diakolimpia.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2019_04_06_sakk_orsz_diakolimpia/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 04. 06.</strong><br />
            Részvétel az országos<br>
            Sakk Diákolimpián
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2019_04_11_visekledeskultura.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2019_04_11_visekledeskultura/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 04. 11.</strong><br />
            Foglalkozás Viselkedéskultúra témakörben
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2019_04_16_sudoku_szakkor.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2019_04_16_sudoku_szakkor/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 04. 16.</strong><br />
            Sudoku szakkör
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2019_04_21_papirgyujtes.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2019_04_21_papirgyujtes/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 04. 21.</strong><br />
            Papírgyűjtés
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2019_04_26_kecskemet_mercedesz_gyar.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2019_04_26_kecskemet_mercedesz_gyar/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 04. 26.</strong><br />
            Látogatás a kecskeméti Mercedes gyárban
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2019_04_30_eszbonto.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2019_04_30_eszbonto/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 04. 30.</strong><br />
            Észbontó
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2019_05_29_iskolagyules_2_felev.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2019_05_29_iskolagyules_2_felev/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 05. 29.</strong><br />
            Iskolagyűlés II. félév
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2019_05_29_kihivas_napja.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2019_05_29_kihivas_napja/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 05. 29.</strong><br />
            Kihívás napja
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2019_06_14_ballagas.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2019_06_14_ballagas/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 06. 14.</strong><br />
            Ballagás
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-12 large-4">
    <div class="cell">
      <div class="card">
        <a href="{{root}}galeriak/2018_19/ps/2019_06_19_tanevzaro_unnepseg.html">
          <img src="{{root}}assets/img/galeriak/2018_19/ps/2019_06_19_tanevzaro_unnepseg/01.jpg">
        </a>
        <div class="card-section">
          <p class="text-center">
            <strong>2019. 06. 19.</strong><br />
            Tanévzáró ünnepség
          </p>
        </div>
      </div>
    </div>
  </div>
</div>