<h3 class="text-center">Királyok és fejedelmek nyomában Erdélyben</h3>
<hr>
<p>
  A Szegedi Petőfi Sándor Általános Iskola Bálint Sándor Tagiskolája 7. évfolyamos diákjai a Határtalanul! pályázatnak köszönhetően 2022. június 10–14.
  között Erdély csodaszép tájain barangolhattak.

</p>
<p>
  Tanulmányi kirándulásunkat <strong>előkészítő tevékenység</strong> előzte meg, melynek során diákjaink felkészültek az
  útra.
  Végigtekintettük a kirándulás állomásait, annak történelmi, néprajzi és természeti-földrajzi vonatkozásait. Az
  információszerzést és a kutató-rendszerező munkát csoportokban, párokban és egyénileg végezték a gyerekek. Játékos
  vetélkedő a megszerzett információkat, az utazásunk során érintett királyok, fejedelmek életéről mélyítették a tanulók
  tudáselemeit, kötődésük a külhoni magyarok irányában erősödött.
</p>

<h3>
  <small>Első nap</small>
</h3>

<p>
  Első állomásunk Gyulafehérvár volt, ahol megismertük a székesegyház történetét, majd megkoszorúztuk a Hunyadi család
  síremlékét, miközben meghallgattuk a Hunyadi kardja című mondát. A Károly kapuról is érdekes információkat tudtunk meg
  a gyerekek kiselőadásából.
</p>
<p>
  Utunkat folytatva Segesvár ódon utcáin sétáltunk, a Diákok lépcsőjén jutottunk fel a várba, majd az Óratornyot
  csodáltuk meg, miközben a történetéről hallgattunk beszámolót. Emellett Bem József életéről és a segesvári csatában
  betöltött jelentőségéről is megtudtunk új információkat.
</p>


<p>
  A Segesvár melletti Fehéregyházán található Petőfi-emlékműnél helyi idegenvezetőnk érdekes előadást tartott Petőfiről
  és a segesvári csatában vállalt szerepéről, valamint eltűnésének, halálának rejtélyeiről. Végül a Nemzeti dal közös
  elszavalásával emlékeztünk hősi halált halt költőnkre.
</p>

<p>
  Ezután a szálláshelyünkre igyekeztünk, Zeteváraljára, amely Székelyudvarhelytől 34 kilométerre, a Hargita hegység
  délnyugati lábánál, a Nagyküküllő völgyében helyezkedett el.</p>

<h3>
  <small>Második nap</small>
</h3>

<p>
  Következő nap utunk a Gyergyói-havasokban található Súgó-barlanghoz vezetett. Gyergyószentmiklósi idegenvezetőnk
  segítségével megismertük a barlang keletkezését, felfedezésének történetét és élővilágát. Ezután utunkat folytatva
  Erdély legszebb tavánál, a Gyilkos-tónál megismertük a tó legendáját. Idegenvezetőnk beszélt a tó kialakulásáról
  folyamatos feltöltődéséről, jövőjéről. Kirándulásunkat a Keleti-Kárpátok leghosszabb tektonikus eredetű
  szurdokvölgyében, a Békás-szorosban folytattuk. Megismertük a völgyet alkotó mészkő tulajdonságait, felhasználásának
  lehetőségeit, valamint a szerkezeti törésvonalak és a folyóvízi eróziót is megfigyelhettük. A Békás-szorosban a
  gyerekek ámulva nézték a vidék természeti kincseit, a hatalmas égbe nyúló sziklákat, a gyönyörű, meseszép tájat.
</p>

<p>
  Kirándulásunkat folytatva a Gyimesbükk felé vettük az irányt. Az ezeréves határnál megemlékeztünk hazánk Trianon
  előtti kiterjedéséről, annak természeti, gazdasági és kulturális értékéről. Majd megmásztuk a Rákóczi-vár romjait, és
  gyönyörködtünk a Moldva felé táruló csodálatos kilátásban. A vár tövében megnéztük a 30. számú vasúti őrházat, amely a
  Magyar Királyi Államvasutak legkeletibb őrháza volt.
</p>



<h3>
  <small>Harmadik nap</small>
</h3>

<p>
  Másnap utunk a Gyergyói-havasokban található Súgó-barlanghoz vezetett. Gyergyószentmiklósi idegenvezetőnk segítségével
  megismertük a barlang keletkezését, felfedezésének történetét és élővilágát. Ezután utunkat folytatva Erdély legszebb
  tavánál, a Gyilkos-tónál megismertük a tó legendáját. Idegenvezetőnk beszélt a tó kialakulásáról folyamatos
  feltöltődéséről, jövőjéről. Kirándulásunkat a Keleti-Kárpátok leghosszabb tektonikus eredetű szurdokvölgyében, a
  Békás-szorosban folytattuk. Megismertük a völgyet alkotó mészkő tulajdonságait, felhasználásának lehetőségeit,
  valamint a szerkezeti törésvonalak és a folyóvízi eróziót is megfigyelhettük. A Békás-szorosban a gyerekek ámulva
  nézték a vidék természeti kincseit, a hatalmas égbe nyúló sziklákat, a gyönyörű, meseszép tájat.
</p>
<p>Kirándulásunkat folytatva a Gyimesbükk felé vettük az irányt. Az ezeréves határnál megemlékeztünk hazánk Trianon
  előtti kiterjedéséről, annak természeti, gazdasági és kulturális értékéről. Majd megmásztuk a Rákóczi-vár romjait, és
  gyönyörködtünk a Moldva felé táruló csodálatos kilátásban. A vár tövében megnéztük a 30. számú vasúti őrházat, amely a
  Magyar Királyi Államvasutak legkeletibb őrháza volt. </p>
<p>Innen Gyimesközéplok felé vettük az irányt, ahol lovaskocsis túrát tettünk vendéglátónk esztenájához: itt részesei
  lehettünk a házi túrókészítésnek, és finomabbnál finomabb házi sajtokat kóstolhattunk, szalonnát és kolbászt
  sütöttünk.</p>
<p>A szállásra visszatérve dézsafürdőt vettek a kirándulásban megfáradt fiatalok, majd egy gyergyószentmiklósi
  osztállyal ismerkedtünk. A gyerekek hamar összebarátkoztak, közös játék, beszélgetés kezdődött.</p>
<h3>
  <small>Negyedik nap</small>
</h3>

<p>
  A napi program Székelyudvarhelyen indult: az Emlékezet parkjában ismerkedtünk a híres történelmi, irodalmi személyek
  életével, munkásságával.

</p>

<p>
  Szejkefürdőn felkerestük Orbán Balázs polihisztor sírját, ahol elhelyeztük az emlékezés és tisztelet koszorúját, és
  végigsétáltunk a szabadtéri Székelykapu Múzeumban.
</p>
<p>
  Ezután következett a parajdi sóbánya. Megismerkedtünk a sóbányászat történetével, és a sóterápia jelentőségével.
  Érdekes információkat tudtunk meg a bánya jelenlegi termékeiről, a földalatti gyógykezelésről, a sóterápiával
  kezelhető légúti betegségekről.
</p>
<p>
  Következő úticélunk Korondra vezetett: meglátogattunk egy helyi lakost, aki bükkfataplóból készít különböző használati
  tárgyakat, a gyerekek gyakorlatban is megtapasztalhatták egy ma is élő mesterség munkafolyamatait, a tapló
  megmunkálását.
</p>
<p>
  Utolsó állomásunk e napon Farkaslaka volt, koszorút helyeztünk el Tamási Áron sírjánál, és megemlékeztünk az íróról.
</p>
<p>
  A szállásra visszatérve ismét a gyergyószentmiklósi fiatalokkal töltötte az osztály az este nagy részét, a gyerekek
  vidáman, önfeledten játszottak, beszélgettek egymással.
</p>
<h3>
  <small>Ötödik nap</small>
</h3>

<p>
  Utazásunk utolsó napján először Szováta felé, a Medve-tó partjára vezetett utunk, ahol érdeklődve hallgattuk A
  tündérasszony könnye című mondát.
</p>
<p>
  A következő megálló Kolozsvár volt. Megtekintettük Mátyás király és Bocskai István szülőházát, majd Mátyás király
  híres lovasszobránál fotózkodtunk.
</p>

<p>
  Utolsó erdélyi megállónk a Király-hágónál volt. A Partium és a történelmi Erdély határánál tudatosult bennünk, hogy
  hamarosan véget ér ez a csodás öt nap, amit Erdély vadregényes tájain töltöttünk.
</p>

<p>
  Hazatérve, a következő napon osztályfőnöki órák keretében hetedikeseink értékelték a kiránduláson történteket,
  felidézték azokat a legismertebb történelmi és irodalmi nevezetességeket, helyeket, ahol jártunk, s amelyekkel a
  tanítási órákon már találkozhattak, vagy hamarosan találkozni fognak. Kiemelték minden egyes nap legjobb programját,
  megbeszélték és feldolgozták azt a sok új ismeretet, emléket, amire az út során szert tettek, s melyek életre szóló
  élménnyel megajándékozva őket, örökké emlékezetesek maradnak.
</p>

<p>
  Mivel fontosnak tartjuk a tudásmegosztást is, ezért az alattunk lévő évfolyamnak képekkel, élményekkel színesített
  bemutató előadást tervezünk szeptember elejére, felkeltve érdeklődésüket, hiszen reményeink szerint a következő
  tanévben ők is részt vehetnek a Határtalanul program keretében egy tanulmányi kiránduláson.
</p>

<p>
  Elmondhatjuk, hogy nagyon sokat dolgoztunk ez idő alatt, de az új ismeretek, élmények, a határon túl élő magyarság
  megismerése, magyarság tudatunk erősödése feledtette velünk ezt. Hisszük, hogy a közös élmények tovább mélyítik az
  együttműködés lehetőségét, a tanulók megismerik egymás kultúráját, életvitelét és hagyományait, ezáltal nyitottabbá és
  toleránsabbakká válnak.
</p>

<p>
  <em>Ungerné Fekte Mónika<br>
    osztályfőnök
  </em>
</p>









<p>
</p>