<li>
    <a href="">2018–2019</a>
    <ul class="menu vertical nested">
        <ul class="menu">
            <a href="{{root}}palyazatok/ps/hatartalanul_2018_19.html">Petőfi</a>&emsp;
            <a href="{{root}}palyazatok/bs/hatartalanul_2018_19.html">Bálint</a>
        </ul>
    </ul>
</li>
<li>
    <a href="">2017–2018</a>
    <ul class="menu vertical nested">
        <ul class="menu">
            <a href="{{root}}palyazatok/ps/hatartalanul_2017_18.html">Petőfi</a>&emsp;
            <a href="{{root}}palyazatok/bs/hatartalanul_2017_18.html">Bálint</a>
        </ul>
    </ul>
</li>