{{#each global.news}}
<div class="card">
    <div class="card-divider">
        <strong>{{title}}</strong>
    </div>
    <div class="card-section">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 {{imgclass}}">
                <p class="text-{{align}}">
                    <img class="thumbnail" src="{{root}}assets/img/hirfolyam/{{img}}">
                </p>
            </div>
            <div class="cell small-12 {{contentclass}}">
                <p>{{school}}</p>
                {{> md_news_content hir=content}}
            </div>
        </div>
    </div>
</div>
{{/each}}