<!-- <p class="text-center"><strong>Kérjük, hogy a letölthető, kitöltött, aláírt adatkezelési hozzájáruló nyilatkozatokat a jelentkezési határidőig töltsék vissza a felületre vagy a <a href="mailto:titkarsag@petofiszeged.hu">titkarsag@petofiszeged.hu</a><br>
        e-mail címre küldjék el!</strong>
</p> -->
<p>
    <p>Teendők az oldalról letöltött adatkezelési hozzájáruló nyilatkozattal/nyilatkozatokkal: </p>
    <ul style="margin: -1em 0 1.5em 1em">
        <li>letöltés </li>
        <li>kinyomtatás utáni kitöltés</li>
        <li>aláírás</li>
        <li>a jelentkezési határidőig a domumentumok visszajuttatása a Szegedi Petőfi Sándor Általános Iskolába</li>
        <ul>
            <li>a nyilatkozatok feltöltésére szolgáló feltöltési felületen keresztül</li>
            <li>vagy a <a href="mailto:titkarsag@petofiszeged.hu">titkarsag@petofiszeged.hu</a> e-mail címre elküldve.</li>
        </ul>
    </ul>
</p>