<h5 class="text-center">Adatkezelési tájékoztató</h5>
<h6 class="text-center">a Szegedi Petőfi Sándor Általános Iskola által szervezett „Szép beszéd” járási prózamondó
  verseny lebonyolítása során kezelt személyes adatokról</h6>
<br>
<div class="callout primary">
  <p class='text-left'>
    Jelen tájékoztató célja tájékoztatás nyújtása a Szegedi Petőfi Sándor Általános Iskola szervezésében
    megrendezésre kerülő „Szép beszéd" járási prózamondó verseny lebonyolításához szükséges személyes
    adatok kezeléséről, figyelemmel az általános adatvédelmi rendelet (továbbiakban: <abbr
      title="A természetes személyeknek a személyes adatok kezelése tekintetében történő védelméről és az ilyen adatok szabad áramlásáról, valamint a 95/46/EK irányelv hatályon kívül helyezéséről szóló 2016. április 27-i 2016/679 európai parlamenti és tanácsi rendelet">GDPR</abbr>
    ) 12-14.
    cikkében, valamint az információs önrendelkezési jogról és az információszabadságról szóló 2011. évi
    CXII. törvény (Infotv) 14.§ a) pontjában foglaltakra.
  </p>
</div>

<p><strong>1. A személyes adatok kezelője</strong><br>
  Adatkezelő megnevezése: Szegedi Petőfi Sándor Általános Iskola<br>
  Adatkezelő képviselője: Winkler Andrea intézményvezető<br>
  Adatkezelő székhelye: 6727 Szeged, Benczúr Gyula u. 29.<br>
  Adatkezelő postai címe: 6727 Szeged, Benczúr Gyula u. 29.<br>
  Adatkezelő telefonszáma: 62/547-133<br>
  Adatkezelő elektronikus címe: igazgato@petofiszeged.hu<br>
  Adatkezelő honlapja: petofiszeged.edu.hu<br>
  Adatvédelmi tisztviselő elérhetősége: szeged.adatvedelem@kk.gov.hu
</p>

<p style="margin-bottom: 0;"><strong>2. A kezelt személyes adatok köre</strong></p>
<ul>
  <li>A versenyen részt vevő tanuló neve, évfolyama, fényképe (képmása) az intézmény neve, mellyel tanulói
    jogviszonyban áll, a tanuló által a versenyen elért helyezés.
  </li>
  <li>A versenyen részt vevő tanuló szülőjének (törvényes képviselőjének) neve.</li>
  <li>A tanulót felkészítő pedagógus neve, a foglalkoztató intézmény neve.</li>
  <li>A verseny lebonyolításában részt vevő munkatársak neve.</li>
</ul>

<p style="margin-bottom: 0;"><strong>3. Az adatkezelés célja</strong></p>
<p>Prózamondó verseny lebonyolítása, ennek során a tanulókkal, szülőkkel, felkészítő pedagógusokkal
  történő kapcsolattartás, a tanulók teljesítményének értékelése.</p>
<p>A versenyen részt vevő tanulók nevének és fényképének (képmásának), valamint a felkészítő pedagógusok nevének
  honlapon történő közzétételének célja az érdeklődők tájékoztatása az eseményről és az elért eredményekről,
  az intézmény munkájának és a versenyzők, valamint a felkészítő pedagógusok eredményeinek népszerűsítése.</p>

<p style="margin-bottom: 0;"><strong>4. Érintetti kör</strong></p>
<ul>
  <li>A versenyre jelentkező, azon részt vevő tanulók.</li>
  <li>A tanulók szülői/törvényes képviselői.</li>
  <li>A tanulókat felkészítő pedagógusok.</li>
  <li>A versenyt szervező intézményben a verseny lebonyolításában részt vevő munkatársak.</li>
</ul>

<p style="margin-bottom: 0;"><strong>5. Az adatok forrása</strong></p>
<p>Az érintettek.</p>

<p style="margin-bottom: 0;"><strong>6. Az adatszolgáltatás megadása elmaradásának következményei</strong>
</p>
<p>Az adatok megadása nem kötelező, azonban az adatok megadásának elmulasztása akadálya lehet a versenyen
  történő részvételnek. </p>


<p style="margin-bottom: 0;"><strong>7. Az adatkezelés jogalapja</strong>
</p>
<p>A személyes adatok kezelésének jogalapja a versenyen részt vevő tanulók, a tanulók szülői (törvényes
  képviselői), valamint a tanulókat felkészítő pedagógusok esetén az érintettek önkéntes hozzájárulása
  személyes adatainak kezeléséhez, a GDPR 6. cikk (1) bekezdésének a) pontja szerint. </p>
<p>A szervező intézményben a verseny lebonyolításában részt vevő munkatársak esetében a személyes adatok
  kezelésének jogalapja a GDPR 6. cikk (1) bekezdésének b) pontja – az adatkezelés szerződés teljesítéséhez
  szükséges, a kinevezési okiratban/munkaszerződésben foglaltak szerint.</p>



<p style="margin-bottom: 0;"><strong>8. Az adatkezelés időtartama</strong>
</p>
<p>Az adatok kezelése annak a tanévnek az utolsó napjáig tart, melyben a verseny lebonyolításra kerül; a
  2021/2022. tanévben lebonyolított verseny esetében 2022. augusztus 31. napjáig. Ezt követően a személyes
  adatok törlésre kerülnek.</p>

<p style="margin-bottom: 0;"><strong>9. A személyes adatokhoz hozzáférő személyek</strong>
</p>
<p>A Szegedi Petőfi Sándor Általános Iskola vezetői, a verseny lebonyolításában részt vevő munkatársak.</p>


<p style="margin-bottom: 0;"><strong>10. Automatizált döntéshozatal és profilalkotás, személyes adatok
    továbbítása harmadik országba, vagy nemzetközi szervezethez vagy egyéb Magyarországon található
    szervezethez, illetőleg a személyes adatok címzettjei, a címzettek kategóriái </strong>
</p>
<p>Az adatkezelés során nem kerül sor sem automatizált döntéshozatalra, sem profilalkotásra. Az adatok harmadik
  személy részére történő továbbítására nem kerül sor, a következő adatok azonban az érintettek hozzájárulása
  esetén a szervező intézmény honlapján közzétételre kerülhetnek:</p>
<ul>
  <li>A tanuló neve, és fényképe (képmása) az elért helyezése, a felkészítő pedagógus neve és az intézmény
    neve, mellyel a tanuló tanulói jogviszonyban áll. </li>
</ul>
<p>Az adatkezelő adatfeldolgozót nem vesz igénybe.</p>

<p style="margin-bottom: 0;"><strong>11. Technikai és szervezési intézkedések</strong>
</p>
<p>Az adatkezelő minden észszerű intézkedést megtesz annak érdekében, hogy gondoskodjon az adatok biztonságáról,
  megteszi továbbá mindazon technikai és szervezési intézkedéseket, melyek a vonatkozó előírások érvényre
  juttatásához szükségesek. Az adatokat védi a jogosulatlan hozzáférés, megváltoztatás, továbbítás,
  nyilvánosságra hozatal, törlés vagy megsemmisítés, valamint a véletlen megsemmisülés és sérülés ellen.</p>


<p style="margin-bottom: 0;"><strong>12. Tájékoztatás az érintettet az adatkezeléssel kapcsolatban megillető
    jogokról </strong>
</p>
<p><u>Tájékoztatáshoz való jog</u><br>
  Az adatkezelés megkezdése előtt Önnek joga van az adatkezeléssel kapcsolatos tájékoztatáshoz. Tájékoztatási
  kötelezettségünket a jelen adatkezelési tájékoztató által teljesítjük. </p>
</p>
<p><u>Hozzáférési jog</u><br>
  Ön tájékoztatást kérhet, hogy az adatkezelőnél a személyes adatainak kezelése folyamatban van-e; amennyiben
  igen, joga van ahhoz, hogy a kezelt személyes adatokról és az adatkezeléssel kapcsolatos információkról
  tájékoztatást kapjon; másolatot igényelhet a kezelt személyes adatairól.
  Helyesbítéshez, kiegészítéshez való jog:
  Ön kérheti, hogy az adatkezelő indokolatlan késedelem nélkül helyesbítse a rá vonatkozó pontatlan személyes
  adatokat, valamint kérheti hiányos személyes adatainak kiegészítését.
</p>
<p><u>Törléshez való jog („az elfeledtetéshez való jog”)</u><br>
  Ön jogosult arra, hogy kérésére az adatkezelő megszüntesse személyes adatai kezelését és indokolatlan késedelem
  nélkül törölje az Önre vonatkozó személyes adatokat, kivéve, ha az adatkezelés jogszabályi kötelezettség
  teljesítése, illetve közérdekből vagy az adatkezelőre ruházott közhatalmi jogosítvány gyakorlása keretében
  végzett feladat végrehajtása céljából szükséges.
<p><u>Korlátozáshoz való jog</u><br>
  Ön kérheti adatai kezelésének korlátozását, ha vitatja adatai pontosságát; ha az adatkezelés jogellenes, és
  törlés helyett Ön a felhasználásának korlátozását kéri; ha az adatkezelőnek már nincs szüksége a személyes
  adatokra adatkezelés céljából, de Ön igényli azokat jogi igények előterjesztéséhez, érvényesítéséhez vagy
  védelméhez; ha az adatkezelés ellen tiltakozik, míg megállapításra nem kerül, hogy az adatkezelő jogos indokai
  elsőbbséget élveznek-e az Ön jogos indokaival szemben.
</p>
<p><u>Tiltakozáshoz való jog</u><br>
  Ön jogosult tiltakozni az adatkezelés ellen, ha az adatkezelő a személyes adatot közvetlen üzletszerzés,
  közvélemény-kutatás vagy tudományos kutatás céljából továbbítaná, használná fel, valamint akkor is, ha Ön
  szerint a személyes adatok kezelése kizárólag az adatkezelő jogi kötelezettsége teljesítéséhez, vagy jogos
  érdekének érvényesítéséhez szükséges, kivéve a jogszabályi felhatalmazáson alapuló adatkezeléseket.
</p>
<p><u>Az adathordozhatósághoz való jog</u><br>
  Ha az adatkezelés automatizált módon történik, és az adatkezelés jogalapja az Ön hozzájárulása vagy szerződés
  teljesítése, Ön jogosult arra, hogy az önre vonatkozó, Ön által az adatkezelő bocsátott személyes adatokat
  tagolt, széles körben használt, géppel olvasható formátumban megkapja, továbbá jogosult arra, hogy ezeket az
  adatokat az adatkezelő egy másik adatkezelőnek továbbítsa.
</p>
<p> <u>Visszavonáshoz való jog</u><br>
  Ön jogosult ahhoz, hogy az adatai kezeléséhez adott hozzájárulását bármikor visszavonja. A hozzájárulás
  visszavonása azonban nem érinti a hozzájáruláson alapuló, a visszavonás előtti adatkezelés jogszerűségét.</p>

<p style="margin-bottom: 0;"><strong>13. Az érintetti jogok biztosítása </strong>
</p>
<p> Jogainak gyakorlásával kapcsolatos kérelmét, panaszát a Szegedi Petőfi Sándor Általános Iskola
  intézményvezetője, Winkler Andrea részére címezve, az alábbi elérhetőségeken nyújthatja be:
  Postai úton: 6727 Szeged, Benczúr Gyula u. 29.
  e-mailen: igazgato@petofiszeged.hu
</p>
<p> A kérelmet annak beérkezésétől számított lehető legrövidebb időn belül, de legfeljebb 1 hónapon belül
  elbíráljuk, és arról írásban, illetve ha kérelmét elektronikus úton nyújtotta be, elektronikus úton értesítjük.

</p>
<p> Kérjük, hogy adatainak kezelését érintő kérdésével, panaszával elsősorban hozzánk forduljon, az egyéb
  jogorvoslati lehetőségek igénybe vételét megelőzően.

</p>
<p> Amennyiben kérelmét, panaszát megítélése szerint nem orvosoltuk megfelelően, lehetősége van arra, hogy
  bírósághoz forduljon. A per elbírálása törvényszéki hatáskörbe tartozik. A per az Ön választása szerint a
  Szegedi Törvényszéken, vagy az Ön lakóhelye vagy tartózkodási helye szerinti törvényszék előtt is megindítható.
</p>
<p> Továbbá panaszt nyújthat be a Nemzeti Adatvédelmi és Információszabadság Hatóságnál, ha az Ön személyes
  adatainak kezelése sérti a hatályos jogszabályi rendelkezéseket.<br>
  Név: Nemzeti Adatvédelmi és Információszabadság Hatóság<br>
  Székhely: 1055 Budapest, Falk Miksa utca 9-11.<br>
  Levelezési cím: 1363 Budapest, Pf. 9.<br>
  Telefon: +36 1/391-1400<br>
  Fax: +36 1/391-1410<br>
  E-mail: ugyfelszolgalat@naih.hu<br>
  Honlap: <a href="http://www.naih.hu" target="_blank">www.naih.hu</a>
</p>