<h5>Adatkezelési hozzájáruló nyilatkozatok feltöltése/elküldése</h5>
<p>
    Az alábbi „HOZZÁJÁRULÓ NYILATKOZAT LETÖLTÉS/FELTÖLTÉS” gomb megnyomásával elérhető aloldalon a versennyel kapcsolatos, le- és feltölthető adatkezelési hozzájáruló nyilatkozatok találhatók.
</p>
<p>A sikeres regisztráció után szükséges a dokumentumok</p>
<ul style="margin: -1em 0 1.5em 1em">
    <li>letöltése </li>
    <li>kinyomtatás utáni kitöltése </li>
    <li>aláírása</li>
    <li>a jelentkezési határidőig a domumentumok visszajuttatása a Szegedi Petőfi Sándor Általános Iskolába</li>
    <ul>
        <li>a nyilatkozatok feltöltésére szolgáló feltöltési felületen keresztül</li>
        <li>vagy a <a href="mailto:titkarsag@petofiszeged.hu">titkarsag@petofiszeged.hu</a> e-mail címre elküldve.</li>
    </ul>
</ul>
<p class="text-center">
    {{#ifpage 'hetedhet_orszagon_tul_regisztracio' }}
    <a class="button primary" style="font-size: 1.1rem; font-weight: 500; line-height: 1.2rem;" href="{{root}}versenyek/hetedhet_orszagon_tul_nyilatkozat_feltoltes.html">„Hetedhét
        országon
        túl…” mesemondó verseny<br><strong>HOZZÁJÁRULÓ NYILATKOZAT LETÖLTÉS/FELTÖLTÉS</strong>
    </a>
    {{/ifpage}}
    {{#ifpage 'szep_beszed_regisztracio' }}
    <a class="button secondary" style="font-size: 1.1rem; font-weight: 500; color: white; line-height: 1.2rem;" href="{{root}}versenyek/szep_beszed_nyilatkozat_feltoltes.html">„Szép beszéd” prózamondó
        verseny<br><strong>HOZZÁJÁRULÓ NYILATKOZAT LETÖLTÉS/FELTÖLTÉS</strong>
    </a>
    {{/ifpage}}
</p>
<p>
    Amennyiben a nevezéssel vagy az adatkezelési nyilatkozat elküldésével kapcsolatban nehézségbe ütköznek, kérjük, keressenek bennünket telefonon.
</p>
{{#ifpage 'hetedhet_orszagon_tul_regisztracio' }}
<p>
    Szeretettel várjuk a tehetséges mesemondókat!
    <br>
    Minden kollégának és versenyzőnek eredményes felkészülést és jó munkát kívánunk!
</p>
{{/ifpage}}
{{#ifpage 'szep_beszed_regisztracio' }}
<p>
    Szeretettel várjuk a tehetséges prózamondókat!
    <br>
    Eredményes felkészülést, jó munkát kívánunk!
</p>
{{/ifpage}}
</p>