</div>
</div>
<div>
  <br>
</div>
<span class="show-for-large">

  <img src="{{root}}assets/img/csik_bottom.jpg" style="; margin-left: 7px; padding-right: 20px" ;>


</span>
<div class="grid-x" style="padding-bottom: 1rem">
  <div class="cell large-6 show-for-large">
    <div class="grid-x">
      <div class="cell large-2">
        <a href="{{root}}index.html">
          <img src="{{root}}assets/img/logo_ps.png" style="margin-left: -0.5rem; margin-right: 0.5rem; margin-bottom: 0rem;">
        </a>
      </div>
      <div class="cell large-10" style="margin-bottom: -1rem;">
        <p class="text-left">
          <strong>Szegedi Petőfi Sándor Általános Iskola</strong><br />
          <strong>Cím:</strong> Benczúr Gyula u. 29.&ensp;<i class="fa fa-envelope"></i> igazgato.petofi.iskola@int.ritek.hu<br />
          <strong>Tel.:</strong> 62 547 076 ● <strong>Fax:</strong> 62 547 077
        </p>
      </div>
    </div>
  </div>


  <div class="cell large-6 show-for-large">
    <div class="grid-x">
      <div class="cell large-2">
        <a href="{{root}}index.html">
          <img src="{{root}}assets/img/logo_bs.png">
        </a>
      </div>
      <div class="cell large-10" style="margin-bottom: -1rem;">
        <p class="text-left">
          <strong>Szegedi Petőfi Sándor Általános Iskola
            Bálint Sándor Tagiskolája</strong><br />
          <strong>Cím:</strong> Kölcsey utca 16.&ensp;<i class="fa fa-envelope"></i> balint.iskola@int.ritek.hu<br />
          <strong>Tel.:</strong> 62 547 150 ● <strong>Fax:</strong> 62 547 150
        </p>
      </div>
    </div>
  </div>
</div>