{{#markdown}}

Augusztus

|   |   |
|---|---|
| 4\. hét | Tanévnyitó műsor próbái |
| 30. | Elsősök beköltözése |

Szeptember

|   |   |
|---|---|
| 2.  | Tanévnyitó ünnepség |
| 2.  | Házirend ismertetése<br>Baleset- és tűzvédelmi oktatás |
| 4.  | Sárkányhajózás (3-8. osztály) |
| 2-6. | Szülői értekezletek |
| 9-13. | Év eleji diagnosztikus mérés (2-8. osztály) |
| 2\. hét | DÖK összejövetel |
| 2-3. hét | Szakkörök, levelező versenyek indítása |
| 3\. hét | Iskolakert – őszi munkák indítása |
| szept. 17- okt. 9. | POM mérés |
| 23-27. | MaTalent mérés 5. o. |
| 23. | Diagnosztizáló mérések reflexiójának leadási határideje |
| 3-4. hét | Tájékoztató az iskolánkról a helyi óvodákban a szülői értekezleteken |
| 26-27. | NEP – program a 7. és 8. osztály részére |
| 27. | Európai Diáksport Napja |
| 27. | Kutatók éjszakája |
| 28. | Szakmafesztivál |
| 30. | Magyar népmese napja<br>\-rajzfilmek<br>\-meseillusztráció<br>\-faliújság |
| szept.9-okt. 11. | Medve Matek – őszi forduló |

<br>

Október

|   |   |
|---|---|
| október eleje | A zene világnapja |
| október eleje | Építsd a jövőt! |
| 1-4. | Állatok világnapja: projektnapok<br>rajzverseny |
| 4.  | PÁV nap – ezen a napon lesz a POM mérés is |
| 7.  | Megemlékezés az aradi vértanúkról<br>faliújság – október 6. |
| 2\. hét | 1., 2. osztályosok DIFER felmérése<br>mérés folyamatosan december 6-ig |
| 18. | Bolyai Matematika Csapatverseny – megyei forduló |
| 3\. hét | Foglalkozás óvodásoknak |
| 3\. hét | Foci – osztályok egymás között |
| 22. | Október 23. megemlékezés<br>faliújság |     |
| 24. | Nyelvi nap – Halloween |
| 10.26-11.03. | Őszi szünet |

<br>

November

|   |   |
|---|---|
| 8.  | Bolyai Anyanyelvi Csapatverseny – megyei forduló |
| 11. | Fogadóóra |
| 2\. hét | Jeles napok: foglalkozás a Tápéi Fiók- könyvtárban<br>– Márton naphoz kapcsolódó hagyományok |
| 2\. hét | DÖK gyűlés |
| 2\. hét | Óvodás foglalkozás |
| 2-3. hét | Kézilabda – osztályok közötti verseny |
| 14. | Rendhagyó természettudományos órák (Csemete Egyesület) |
| 15. | Bolyai Matematika Csapatverseny – országos döntő |
| 3\. hét | Versmondó verseny: 1-2., 3-4. osztály |
| 3-4. hét | Biztonságos internethasználat- külső előadó |
| 22. | Bolyai Anyanyelvi Csapatverseny – országos döntő |
| 25. | Zrínyi Ilona Matematikaverseny – iskolai forduló |
|     | Színházlátogatás |
| 30. | Bolyai Matematika Csapatverseny – országos döntő (szóbeli) |

<br>

December

|   |   |
|---|---|
| 1\. hét | nyelvÉsz anyanyelvi verseny- iskolai forduló |
| 2.  | Jelentkezés a központi írásbeli felvételi vizsgára |
| 6.  | Mikulás - osztályprogramok |
| 1.hét | Csokigyűjtő akció indítása (Bohócdoktorok) |
| 1\. hét | Óvodás foglalkozás |
| 7.  | Nevelési értekezlet – tanítás nélküli munkanap |
| 7.  | Bolyai Anyanyelvi Csapatverseny – országos döntő (szóbeli) |
| 2\. hét | RMG angol nyelvi verseny |
| 14. | Karácsonyi kézműves foglalkozás, adventi délelőtt |
| 2.hét | MatekÁsz verseny iskolai forduló |
| 2-3. hét | Kosárlabda – osztályok között |
| 20. | Karácsonyi koncert – iskolai ünnepség |
| 12.21.- 01.05. | Téli szünet |

<br>

Január

|   |   |
|---|---|
| 9.  | DÖK gyűlés |
| 2\. hét | Rajzpályázat óvodásoknak |
| 2\. hét | Félévi felmérők |
| 17. | Félévi osztályozó értekezlet |
| 18. | Központi írásbeli felvételi feladatsor megírása |
| 22. | A magyar kultúra napja<br>\-megemlékezés<br>\-faliújság |
| 3\. hét | Mozdulj! - alsós sorverseny |
| jan. 9. –<br>máj. 9. | Netfit mérések |
| 4.hét | nyelvÉsz anyanyelvi verseny- vármegyei forduló |

<br>

Február

|   |   |
|---|---|
| 1\. hét | Félévi szülői értekezletek |
| 3.  | Nevelési értekezlet – tanítás nélküli munkanap |
| 1\. hét | Rendhagyó természettudomány óra - A Tisza élővilágának emléknapja |
| 1-2. hét | Tabán –Teszt - Túra |
| 14. | Valentin-nap |
| 2-3. hét | Tisza- vetélkedő |
| 2-3. hét | SZTE Kossuth Zsuzsanna Technikum és Szakképző Iskola által hirdetett divatrajzpályázat |
| 18-20. | A jelentkezési lapok aláírása és továbbítása |
| 21. | Magyar Parasport Napja – érzékenyítő programok, rajzpályázat |
|     | Színházlátogatás |
| 22. | Alapítványi bál |
|     | Röplabda – osztályok közötti verseny |
|     | MatekÁsz verseny – vármegyei forduló |
| 24. | A kommunista és egyéb diktatúrák áldozatainak emléknapja |
| 27. | Farsang |

<br>

Március

|   |   |
|---|---|
| 4   | Télűző- kiszebáb égetés |
| 4.  | Fogadóóra |
| 1\. hét | Házi helyesírási verseny – 2-8. osztály |
| 2\. hét | Simonyi Zsigmond helyesírási verseny – iskolai forduló |
| 3\. hét | Arany János Á.Iskola által meghirdetett rajzpályázat |
| 3\. hét | Házi matematikaverseny (2-8. osztály) |
| 11. | Nyílt nap a leendő elsősök szüleinek |
| 12. | Gergely-járás – iskolába toborzó<br>foglalkozás óvodásoknak |
| 14. | Március 15.- megemlékezés |
| 20. | Nyílt tanítási nap |
| 21. | A víz világnapja témanap |
| 03. 24. – 05. 30. | Mérések:<br>4-5. évfolyam: szövegértés, matematika<br>6-8. évfolyam: szövegértés, matematika, természettudomány, idegen nyelvi mérés<br>5-11. évfolyam – digitális kultúra és történelem –kísérleti mérés |
| 24-28. | Digitális témahét |

<br>

Április

|   |   |
|---|---|
| 7-11. | Fenntarthatósági témahét – ZÖLD HÉT: papírgyűjtés, sportdélután, elsősegélynyújtás, egészséges életmód |
| 10. | Papírgyűjtés |
| 10-11. | A leendő elsősök beíratása |
| 11. | Költészet napja témanap |
| 1-2. hét | Sudoku verseny |
| 2\. hét | Simonyi Zsigmond helyesírási verseny - területi forduló |
|     | Sziporka Országos Matematika Verseny |
| 2-3. hét | Házi csendéletfestő verseny |
| 3\. hét | A holokauszt magyarországi áldozatainak emléknapja |
| 3\. hét | ZöldOkos Kupa Palánta csapatverseny |
| 3\. hét | KIK Kerékpáros Iskola Kupa |
|     | MatekÁsz verseny-országos döntő |
|     | nyelvÉsz anyanyelvi verseny- országos döntő |
| 17-27. | Tavaszi szünet |
| ápr. 30- máj. 3. | Határtalanul |

<br>

Május

|   |   |
|---|---|
| 1\. hét | Rubik kocka kirakó verseny |
| 9.  | Madarak és fák napja témanap |
| 17. | Bálint Sándor-nap<br>Bálint Sándor halálának évfordulója: megemlékezés |
| 3\. hét | Közlekedési kultúra napja |
| 3\. hét | Szülői értekezletek |
| 30. | Regionális csendéletfestő verseny |
| 30. | Kihívás napja |

<br>

Június

|   |   |
|---|---|
| 4.  | Nemzeti Összetartozás Napja |
| 16. | Osztályozó értekezlet |
| 18. | DÖK nap |
| 21. | Ballagás |
| 25. | Tanévzáró ünnepség |
| 23-27. | Napközis felügyelet |

{{/markdown}}