{{#markdown}}

Augusztus

|   |   |
|---|---|
| 27. | Szülői értekezletek 5-8-ig |

<br>


Szeptember

|   |   |
|---|---|
| 2.  | Tanévnyitó ünnepség<br>Házirend ismertetése<br>Baleset- és tűzvédelmi oktatás<br>Szülői értekezlet 1.o<br>A felső tagozat tisztasági versenyének indítása, diákügyelet megszervezése |
|     | Lázár Ervin Program<br>Nemzeti Emlékezetpedagógiai Program |
| 9.  | Diagnosztikus mérések értékelési határideje |
| 16. | Szakkörök beindítása |
| 20. | Szüreti Piknik |
|     | Papírgyűjtés |
| 09.17-10.09. | 8.o.– pályaválasztást megalapozó kompetenciák vizsgálata |
| 28. | Szakmafesztivál – a SZSZC családinapja a 8. osztályos tanulók részére |
| 23-27. | MaTalent mérés 5. osztály |
|     | Pályaválasztási szülői értekezlet |
| 27. | Európai Diáksport napján való részvétel |
| 27. | Kutatók éjszakája |
| 23-27. | Jeles napok-Népmese napja |
| 30- 10. 04 | A Világ Legnagyobb Tanórája – rendhagyó biológiaóra |

<br>

Október

|   |   |
|---|---|
| 1.  | Zenei Világnap „Lásd a zenét!” |
|     | Petőfi Szavalóverseny ovisoknak |
| 4.  | Pályaorientációs szakmai nap |
| 8.  | Építsd a jövőt! |
| 7.  | Október 6. Megemlékezés iskolai szinten |
| 10. | Suliváró foglalkozás |
| 17-19. | Találd ki magad pályaválasztási börze |
| 22. | Október 23-i megemlékezés – 8. osztály |
|     | Halloween Afternoon. Idegen nyelvi délután a felső tagozaton |
| 10.26-11.01. | **Őszi szünet** (utolsó tanítási nap október 25. első tanítási nap november 4.) |

<br>

November

|   |   |
|---|---|
| 6.  | Mi a pálya? |
| 8.  | Jeles napok: Márton nap |
| 13. | A magyar nyelv napja<br>„Nyelvében él a nemzet” |
| 14. | Suliváró foglalkozás |
|     | Népdal és népköltészet hete |
|     | Érzékenyítő program<br>Csoki- és állateledelgyűjtő akció |
| 27. | Egészségnap<br>Rendhagyó biológiaórák szervezése<br>Rendhagyó kémiaóra |
|     | Beiskolázási nyílt nap a 4. osztályban |
| 29. | Az egységes felvételi írásbeli vizsgákra való jelentkezés<br>Aranytoll meseíró verseny |

<br>

December

|   |   |
|---|---|
|     | Adventi gyertyagyújtás – az iskolai kamarakórus szereplése |
| 2.  | Központi írásbeli jelentkezési lapok leadása. |
| 6.  | Érkezik a Mikulás a kicsikhez |
| 12. | Suliváró foglalkozás |
| 7.  | Nevelési értekezlet szakmai nap |
| 14. | Iskolai Advent |
|     | Telepi karácsony |
|     | Rendhagyó biológiaóra a dohányzás veszélyeiről |
|     | Rendhagyó biológia- kémiaóra a klímaváltozás következményeiről |
| 20. | Iskolai karácsony |
| 12.23-01.03. | **Téli szünet (**utolsó tanítási nap december 20. első tanítási nap január 6.) |

<br>

Január

|   |   |
|---|---|
|  09- 05. 09. | Tanulók NETFIT mérésének kezdete  | 
| 18. 10:00 | Központi írásbeli felvételi vizsgák 8. osztály |
| 22. | A magyar kultúra napja. Megemlékezés, rajzkiállítás <br>„Szóforgató” háziverseny első forduló<br>„Észpörgető” háziverseny első forduló<br>„Iskolásdi” foglalkozás óvodai csoport részére |
| 31. | Rendhagyó természettudomány-óra - Tisza élővilágának emléknapja |

<br>

Február

|   |   |
|---|---|
| 1.  | A 8. osztályos tanulók írásban leadják továbbtanulási szándékukat |
|     | Matek háziverseny |
| 4-7. | Félévi szülői értekezlet |
| 7.  | Értesítés az írásbeli felvételi vizsgák eredményéről |
|     | Farsangi mulatság<br>Farsangi táncház alsó tagozat<br>Suliváró foglalkozás |
|     | Megemlékezés a Tisza élővilágának emléknapja alkalmából |
| 18-19. | A továbbtanuláshoz szükséges Jelentkezési lapok és Tanulói adatlapok szülői aláírása |
| 20. | Jelentkezési lapok továbbítása. |
| 22. | Magyar Parasport napja |
|     | Petőfisek Kiscsillagai- ki mit tud alsó tagozat |
|     | Helyesíró verseny 2-4. osztály |
| 24-28. | Kommunista és egyéb diktatúrák áldozatainak emléknapja |
|     | Újraélesztés oktatása |

Március

|   |   |
|---|---|
|     | „Szép beszéd” járási prózamondó verseny<br>„Hetedhét országon túl….” tankerületi mesemondóverseny<br>Suliváró foglalkozás
| 03\. 24- 05. 30. | Országos mérések |
| 24-28. | Digitális témahét |
| 3-20. | A 8. osztályosok szóbeli meghallgatása a középfokú intézményekben |
| 14. | Megemlékezés márc. 15-ről<br>Iskolai ünnepség |
|     | Nyílt nap |
|     | Rendhagyó biológiaóra- Környezetvédelmi kérdések megbeszélése.<br>Rendhagyó biológiaóra- Drogok káros hatásairól beszélgetés. |
| 22. | A víz világnapja |
| 25- 27. | A 8. osztályos tanulók Tanuló adatlapjainak módosítása |
|     | Rendhagyó énekóra vendégművésszel |
|     | Rendhagyó magyar |


Április

|   |   |
|---|---|
|     | Locsolóversíró háziverseny |
|     | Húsvéti kézműves foglalkozás |
|     | KIK Kerékpáros Iskola Kupa |
| 7-11. | Szülői értekezlet<br>Fenntarthatósági témahét<br>Papírgyűjtés |
| 10-11. | Beiratkozás |
| 04.17-04.25. | **Tavaszi szünet (**utolsó tanítási nap április 16 első tanítási nap április 28.) |
| 10. | A költészet napjához kapcsolódó program |
| 11. | A költészet napja<br>Megemlékezés |
|     | A Föld napja alkalmából hulladékból készített tárgyak kiállítása |
| 16. | Holokauszt emléknap Megemlékezés történelemórák keretében |

Május

|   |   |
|---|---|
|     | Határtalanul pályázaton való részvétel |
| 5.  | A középiskolai felvételi eredmények kiértesítése |
| 20  | NETFIT-mérés eredményeinek feltöltése |
|     | „Szóforgató” háziverseny második forduló |
|     | „ Észpörgető” háziverseny<br>második forduló |
|     | Hangszersimogató |
| 28. | A kihívás napja |
|     | Szülői értekezlet a beíratott elsősök szüleinek |
| 30. | Témanap-Madarak és Fák napja |

Június

|   |   |
|---|---|
|     | Szív Napja A Petőfi-telepi Művelődési Házban |
| 4.  | Nemzeti összetartozás napja megemlékezés |
|     | Kütyük nélkül logikai délután a retró jegyében |
| 18. | DÖK nap |
| 20. | Ballagás |
| 24. | Tanévzáró ünnepély, bizonyítványosztás |
| 23-27. | Napközis felügyelet |
{{/markdown}}