{{#ifequal hir "news01"}}
{{#markdown}}
**Szabó Viktória** negyedik osztályos tanuló a vármegyei matematika versenyen **III. helyezést ért el**.

Felkészítő tanára: *Fodorné Kiss Magdolna*.

*Köszönjük, Viki!*

🎉✨🎖️
{{/markdown}}
{{/ifequal}}
{{#ifequal hir "news02"}}
{{#markdown}}
**Lajkó Boglárka** a Tudásbajnokság országos döntőjén matematikából **I. helyen végzett**.

Felkészítő tanára: *Fodorné Kiss Magdolna*.

*Gratulálunk a kitűnő eredményhez!*

🎉✨🎖️
{{/markdown}}
{{/ifequal}}
{{#ifequal hir "news03"}}
{{#markdown}}
**Iskolánk röplabda válogatottja** a Röplabda Diákolimpia Országos Döntőjében V-VI. korcsoportban **7. helyen végzett.**.

*Köszönjük Szegedi Lászlónak a felkészítést.*

*Szép volt fiúk!*

🎉✨🎖️
{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news04"}}
{{#markdown}}
* július 10. 9:00-13:00
* július 24. 9:00-13:00
* augusztus 7. 9:00-13:00
* augusztus 21. 9:00-13:00
{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news05"}}
{{#markdown}}
A tankönyveket a szülők, vagy
megbízottjuk vehetik át.

*A tankönyvek fóliabevonatúak, ezért
nem kell becsomagolni őket!*

**A tankönyvek átvételének
időpontjai:**<br>
2024.08.27. 11:00-17:00<br>
2024.08.28. 07:00-13:00

Célszerű táskát hozni az
elvitelhez!
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news06"}}
{{#markdown}}
A 2024/2025-ös tanévben a tankönyveket<br>**az első tanítási napon fogjuk kiosztani**.

Kérjük, a hazaszállításra így készüljenek!

A tankönyvek borítója fóliabevonatú, ezért szükségtelen külön védőfóliát használni a védelem érdekében.
{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news07"}}
{{#markdown}}
*Kedves Gyerekek! Kedves Szülők!*

**Szeretettel várunk mindenkit tanévnyitó ünnepségünkre!**

**Időpontja:** <span style="color: #ff4500;">**2024. szeptember 2. 9:00 óra**</span>

Megjelenés ünneplő ruhában. Gyülekező 7:30-tól az iskolában.

Ezen a napon osztályfőnöki órákat tartunk. Mindenki
hozzon magával üzenőfüzetet, tolltartót, órarendet.

**Ebéd 11:30-tól**.

Aki az első nap ebéd után haza szeretne menni,
kérjük, a szülői kikérőt mutassa be
osztályfőnökének.
{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news08"}}
{{#markdown}}
*Kedves Gyerekek! Kedves Szülők!*

**Szeretettel várunk mindenkit tanévnyitó ünnepségünkre!**

**Időpontja:** <span style="color: #ff4500;">**2024. szeptember 2. 8:00 óra**</span>

Megjelenés ünneplő ruhában. Gyülekező 7:30-tól az iskolában.

Ezen a napon osztályfőnöki órákat tartunk. Mindenki
hozzon magával üzenőfüzetet, tolltartót, órarendet.

**Ebéd 11:45-től**.

Aki az első nap ebéd után haza szeretne menni,
kérjük, a szülői kikérőt mutassa be
osztályfőnökének.
{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news09"}}
{{#markdown}}
|     |     |     |
| --- | --- | --- |
| 1\. oszt. | szept. 3. (kedd) | 16:30 |
| 2\. oszt. | szept. 4. (szerda) | 16:30 |
| 3\. oszt. | szept. 3. (kedd) | 16:30 |
| 4\. oszt. | szept. 2. (hétfő) | 16:30 |
| 5\. oszt. | szept. 5. (csüt.) | 17:00 |
| 6\. oszt. | szept. 3. (kedd) | 16:30 |
| 7\. oszt. | szept. 3. (kedd) | 16:30 |
| 8\. oszt. | szept. 5. (csüt.) | 17:00 |
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news10"}}
{{#markdown}}
|     |     |     |
| --- | --- | --- |
| 1\. oszt. | szept. 02. (hétfő) | 17:00 |
| 2\. oszt. | szept. 03. (kedd) | 16:30 |
| 3\. oszt. | szept. 04. (szerda) | 16:30 |
| 4\. oszt. | szept. 04. (szerda) | 16:30 |
| 5\. oszt. | aug. 27. (kedd) | 17:00 |
| 6\. oszt. | aug. 27. (kedd) | 16:30 |
| 7\. oszt. | aug. 27. (kedd) | 17:00 |
| 8\. oszt. | aug. 27. (kedd) | 17:00 |
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news11"}}
{{#markdown}}
Kedves Szülők, kedves Diákok!

A 2024-25-ös tanévben a mindennapos testnevelés szabályai az alábbiak szerint változtak:

A 2024. évi XXV. törvény 34. §-a módosította nemzeti köznevelésről szóló 2011. évi CXC. törvény (a továbbiakban: Nkt.) 27. § (11) bekezdését. A módosítás a mindennapos testnevelés két órával való kiváltását (a továbbiakban: kiváltás) érinti, célja az egészséghez szükséges fittségi állapot megőrzése, javítása.

Az Nkt. 27. § (11) bekezdése 2024. szeptember 1-jétől az alábbiak szerint módosul:  
*,,(11)* <i>**Az iskola_ a nappali rendszerű iskolai oktatásban, azokban az osztályokban és azokon a tanítási napokon, amelyeken közismereti oktatás is folyik, megszervezi a mindennapos testnevelést legalább napi egy testnevelésóra keretében, amelyből legfeljebb <u>heti két óra váltható ki</u> a sportról szóló törvény szerinti <u>igazolt sportolói jogviszonyban álló versenyző tanuló kérelme alapján versenyengedély birtokában – a sportszervezet keretei között szervezett edzéslátogatás igazolásával</u>, amennyiben a testnevelésórát közismereti tanóra nem előzi meg, vagy nem követi.**</i>*”*

Ezzel párhuzamosan a Belügyminisztérium kezdeményezte a Nemzeti alaptanterv kiadásáról, bevezetéséről és alkalmazásáról szóló 110/2012. (VI. 4.) Korm. rendelet Melléklet I. Rész I.2. pont 1.2.1. alpontjában, az „A heti két óra kiváltható továbbá sportolással iskolai sportkörben, vagy tanuló kérelme alapján sportszervezet, sportegyesület keretei között végzett igazolt sporttevékenységgel.” szövegrész <u>hatályon kívül helyezését</u> is. Ennek megfelelően felhívom a figyelmüket, hogy a 2024/2025. tanévtől <u>az iskolai sportkörben való sportolással, nem versenysportoló esetén sportszervezet által kiállított igazolással való kiváltási lehetőségek már **nem alkalmazhatóak**</u>.”

**A következő tanévre már csak kizárólag a versenyengedéllyel rendelkező sportoló tanulók kaphatnak felmentést heti két testnevelésóra alól.**
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news12"}}
{{#markdown}}
Beiskolázási nyílt óra<br>
**2024 november 21. 8:00–8:45**

▶️ Szegedi Petőfi Sándor Általános Iskola<br>Bálint Sándor Tagiskolája

Iskolába hívogató foglalkozás<br>
**2024 december 16. 16:30**
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news13"}}
{{#markdown}}
|     |     |     |
| --- | --- | --- |
| 1\. oszt. | febr. 4. (kedd) | 16:30 |
| 2\. oszt. | febr. 11. (kedd) | 16:30 |
| 3\. oszt. | febr. 4. (kedd) | 16:30 |
| 4\. oszt. | febr. 7. (péntek) | 16:30 |
| 5\. oszt. | febr. 10. (hétfő) | 17:00 |
| 6\. oszt. | febr. 6. (csüt.) | 17:00 |
| 7\. oszt. | febr. 6. (csüt.) | 17:00 |
| 8\. oszt. | febr. 5. (szerda) | 17:00 |
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news14"}}
{{#markdown}}
|     |     |     |
| --- | --- | --- |
| 1\. oszt. | febr. 04. (kedd) | 16:30 |
| 2\. oszt. | febr. 06. (csütörtök) | 16:30 |
| 3\. oszt. | febr. 05. (szerda) | 16:30 |
| 4\. oszt. | febr. 05. (szerda) | 16:30 |
| 5\. oszt. | febr. 04. (kedd) | 16:30 |
| 6\. oszt. | febr. 04. (kedd) | 16:30 |
| 7\. oszt. | febr. 06. (csütörtök) | 17:00 |
| 8\. oszt. | jan. 31. (péntek) | 16:30 |
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news15"}}
{{#markdown}}
<h6 class="text-center" style="margin-top:-1.5rem;"><strong>Tisztelt szülők!</strong></h6>

A hit- és erkölcstan oktatással kapcsolatos tájékoztatót **2025. március 10-én 16:30 órakor tartják** az iskolánkban hitoktatást végző egyházak képviselői, melyre szeretettel várnak minden érdeklődőt.

Felhívjuk figyelmüket, hogy 2025.05.20-ig van lehetőségük módosítani a 2025/2026-os tanévre választott tantárgyat (etika/hit- és erkölcstan), illetve egyházat.
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news16"}}
{{#markdown}}
<u><strong>Suliváró foglalkozások</strong></u><br>
2025. február 06. 16:00<br>
2025. március 06. 16:00<br>
2025. április 03. 16:00<br>

<u><strong>Beiratkozással kapcsolatos igazgatói tájékoztató</strong></u><br>
2025. április 03. 16:00

▶️ Szegedi Petőfi Sándor Általános Iskola<br>Bálint Sándor Tagiskolája

<u><strong>Iskolába hívogató foglalkozások</strong></u><br>
2025. február 24. 16:30<br>
2025. március 10. 16:30
{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news17"}}
{{#markdown}}
**2024.09.20. 15:00-tól**

Ízelítő a programokból:
- mustkóstolás
- diótörés
- kukorica morzsolása
- kézműves foglalkozás
- faragott tökök zsűrizése
és árverése
- családi sportvetélkedő
- népi játékok
- ügyességi kerékpárpálya

Portékavásárral és büfével
várjuk az érdeklődőket!
{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news18"}}
{{#markdown}}
**Időpont:** <br>
2024.10.22. 16:00-tól
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news19"}}
{{#markdown}}
**Időpont:**<br>
2025. október 22.
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news20"}}
{{#markdown}}
- utolsó tanítási nap: 2024. október 25. (péntek)
- első tanítási nap: 2024. november 4. (hétfő)
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news21"}}
{{#markdown}}
**2024. november 9-én 18 órától**

**Helyszín:** Petőfitelepi Művelődési Ház<br>
**Zene:** MaNDiSCO TeaM<br>
**Vacsora:** Kószó Zoltán<br>
**Ital:** batyus jelleggel

*Mindenkit szeretettel várunk!*<br>
A JÓ HANGULAT GARANTÁLT!

**Belépőjegy ára:** 8000 Ft<br>
**Támogatójegy:** 3000 Ft
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news22"}}
{{#markdown}}
**2024. november 13-án 7 és 17 óra között papírgyűjtést szervezünk az
iskolánkban.**

Kérjük, lemérés után az újságot ömlesztve, a kartont pedig lapra hajtva az iskola előtti konténerbe helyezzék el.

*Köszönettel: a diákönkormányzat*
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news23"}}
{{#markdown}}
**Programok:**

- okostányér
- egészséges táplálkozás
- lelki egészség megőrzése
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news24"}}
{{#markdown}}
##### Meghívó

Szeretettel várunk a hagyományos
karácsonyi ünnepségünkre!

**Időpontja:** 2024.12.20. 10:00<br>
**Helyszíne:** Petőfi-telepi Művelődési Házba

<p class="text-right">
<i>Winkler Andrea</i><br>
igazgató
</p>
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news25"}}
{{#markdown}}
- **utolsó tanítási nap:**<br>2024. december 20. (péntek)
- **első tanítási nap:**<br>2025. január 6. (hétfő)
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news26"}}
{{#markdown}}
**A Szegedi Petőfi Sándor Általános Iskola<br>
sakkversenyt hirdet diákjai számára**

**Időpont:**<br>
2025.01.17. péntek, 13:30–16:00

Jelentkezni az osztályfőnöknél lehet.
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news27"}}
{{#markdown}}
*Kedves Nagycsoportosok!*

Nyírjatok ki különböző síkidomokat színes papírból! Ezeket felragasztva
egy lapra különleges képet készíthettek.

Az alkotásokat **január 31-ig** hozzátok be a Bálint Sándor Tagiskola portájára!

A pályázaton részt vevő gyerekek a következő foglalkozáson ajándékban részesülnek.
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news28"}}
{{#markdown}}
###### *Kedves alsó tagozatos gyerekek!*

Vidám, játékos, téli sor-és váltóversenyre várunk benneteket január 24-én, pénteken az iskola tornatermében.

|     |     |
| --- | --- |
| 14:00-tól 14:30-ig: | 1. és 2. osztály mérkőzése |
| 14:30-tól 15:00-ig: | 3. és 4. osztály mérkőzése|

**Ne felejtsetek el tornacipőt váltani!**

*Fruzsi néni és Berni néni*
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news29"}}
{{#markdown}}
*Itt a farsang, áll a bál...*

A Bálint Sándor Tagiskolában farsangi délutánt tartunk **2025. február 27-én (csütörtökön)**.
{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news30"}}
{{#markdown}}
Szeretettel várunk minden szülőt<br>
**2025. március 4-én 17:00 órától**<br>
tartandó szaktanári fogadóórákra.
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news31"}}
{{#markdown}}
*Kedves Alsó Tagozatos Gyerekek!*

Télűző programunkra hivunk benneteket<br> 
**2025.03.04-én 12:15 órai kezdettel**<br>
az iskola udvarán
{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news32"}}
<div class="grid-x">
	<p>30. alkalommal rendeztük meg járási versenyeinket, melyen 31 iskola 70 tehetséges tanulója vett részt.
	</p>
	<p>
	A díjazottak neve és iskolája a fényképek alatt megtekinthető.

Gratulálunk a versenyző diákok teljesítményéhez!

Örülünk, hogy ilyen sokan megtiszteltek bennünket jelenlétükkel!
</p>

</div>
<div class="grid-x">
	<div class="cell small-12 large-6">
        <div class="card">
            <img src="{{root}}assets/img/hirfolyam/jarasi_verseny/2o.jpg">
	            <div class="card-section">
	            <p>
	            	2. osztály:<br>
1. helyezett: Krizsán Bella<br>(Szegedi Gregor József Általános Iskola)<br>
2. helyezett: Németh Vivien<br>(Szegedi Petőfi Sándor Általános Iskola)<br>
3. helyezett: Vas Lili<br>(Rókusi Általános Iskola)<br>
Különdíj: Kis Kinga<br>(Petőfi Sándor Általános Iskola, Hajdújárás)<br>
Bosnyák Márió<br>(Petőfi Sándor Általános Iskola, Hajdújárás)
	            </p>
	        </div>
	   	</div>
    </div>
    <div class="cell small-12 large-6">
        <div class="card">
            <img src="{{root}}assets/img/hirfolyam/jarasi_verseny/3o.jpg">
	            <div class="card-section">
	            <p>
	            	3. osztály:<br>
1. helyezett: Németh Eliza<br>(Szegedi Madách Imre Magyar-Angol Két Tanítási Nyelvű Általános Iskola)<br>
2. helyezett: Bernáth Szófia<br>(Szegedi Orczy István Általános Iskola)<br>
3. helyezett: Frank Milán<br>(Szegedi Fekete István Általános Iskola)<br>
Különdíj: Vaszil Tamara<br>(Szegedi Petőfi Sándor Általános Iskola)
	            </p>
	        </div>
	   	</div>
    </div>
</div>

<div class="grid-x">
	<div class="cell small-12 large-6">
        <div class="card">
            <img src="{{root}}assets/img/hirfolyam/jarasi_verseny/4o.jpg">
	            <div class="card-section">
	            <p>
4. osztály<br>
1. helyezett: Göldner Adél<br>(Szegedi Arany János Általános Iskola)<br>
2. helyezett: Csala Olivér<br>(Ruzsai Weöres Sándor Általános Iskola és AMI)<br>
3. helyezett: Berekméri Bella<br>(Szegedi Arany János Általános Iskola)<br>
Különdíj: Barkóci Fanni<br>(Hunyadi János Általános Iskola, Csantavér)<br>
Majoros Szandra<br>(Hunyadi János Általános Iskola, Csantavér)
	            </p>
	        </div>
	   	</div>
    </div>
    <div class="cell small-12 large-6">
        <div class="card">
            <img src="{{root}}assets/img/hirfolyam/jarasi_verseny/5-6o.jpg">
	            <div class="card-section">
	            <p>

5-6. osztály<br>
1. helyezett: Mig Izabella<br>(Domaszéki Bálint Sándor Általános Iskola és AMI)<br>
2. helyezett: Kállai Fanni Nóra<br>(Szegedi Kossuth Lajos Általános Iskola)<br>
3. helyezett: Vastag Koppány<br>(Szegedi Dózsa György Általános Iskola)

	            </p>
	        </div>
	   	</div>
    </div>
</div>
<div class="grid-x">
	 <div class="cell small-12">
        <div class="card">
            <img src="{{root}}assets/img/hirfolyam/jarasi_verseny/7-8o.jpg">
	            <div class="card-section">
	            <p>
7-8. osztály<br>
1. helyezett: Rajhona Márton Olivér (Tisza-parti Általános Iskola)<br>
2. helyezett: Kiss János (Szegedi Dózsa György Általános Iskola)<br>
3. helyezett: Vincze Noémi (Szegedi Kossuth Lajos Általános Iskola Deszki Zoltánfy István Általános Iskolája)
</p>
	        </div>
	   	</div>
    </div>
</div>
{{/ifequal}}

{{#ifequal hir "news33"}}
{{#markdown}}
*Kedves Nagycsoportosok!*

**Szeretettel várunk benneteket Gergely-járás című játékos foglalkozásunkra!**

Hozzatok magatokkal váltócipőt is!

**Helyszín:**<br>
a Bálint Sándor Tagiskola tornaterme<br>
6753 Szeged, Kölcsey tér 16.

**Időpont:**<br>
2025. március 10. (hétfő) 16:30-tól kb.17:15-ig

*Edina néni és Éva néni*
{{/markdown}}
{{/ifequal}}





{{#ifequal hir "news35"}}
{{#markdown}}
A 2025-26-os beiratkozás időpontja: <br>
**2025. 04. 10–11. 8:00–9:00**

[Beiratkozással kapcsolatos közlemény]({{root}}assets/beiratkozas/beiratkozassal_kapcsolatos_kozlemeny_2025.pdf)

[Beiratkozáshoz szükséges dokumentumok]({{root}}beiratkozas/tajekoztato_beiratkozasrol.html)

[Letölthető dokumentumok]({{root}}beiratkozas/beiratkozaskor_leadando_nyomtatvanyok.html)

{{/markdown}}
{{/ifequal}}

