
<!-- <p class="text-center">Pedagógiai munkát segítők</p> -->
{{#markdown}}
|      |     |      |
| :--| ---| --- |
{{#ifequal type "ps"}}
| Bori Gabriella | főiskola | személyügyi szervező  |
| Lehotai Papdi Orsolya | középfokú | pedagógiai asszisztens |
{{else}}
| Kruzslicz Mónika | főiskola | pénzügyi-számviteli ügyintéző,<br>számítógép-kezelő  |
| Balázs Nóra	| középfokú | pedagógiai asszisztens |
{{/ifequal}}
| Hevesi István  | főiskola <br> középfokú | magyar–történelem szakos általános iskolai tanár <br> szoftverfejlesztő |
{{/markdown}}