{{#markdown}}
<div class="callout">
    <h6><strong>Jelmagyarázat</strong></h6>
    ✅ = kész<br>
    ❌ = nincs kész<br>
    <code>üzenet</code> aktauális teendő vagy átmeneti felirat az oldalon, pl. "hamarosan"
</div>


* **Főoldal/Híreink**
* **Elérhetőségeink**<br>
    Címek, e-mailcímek, telefonszámok<br>
    Helyünk a térképen

* **Bemutatkozás**<br>
    Bemutatkozás PS/BS<br> 
    ✅ Tanáraink | ✅ PS | ✅ BS<br> 
    ✅ Csengetési rend | ✅ PS | ✅ BS<br> 
	✅ Iskolánkat segítő külsős munkatársak<br>
    Hitoktatóink PS/BS *Frissíteni?*<br>
    Felekezetek bemutatkozása<br>
    ✅ Pedagógiai program<br>
    ✅ SZMSZ<br>
    Kollektív szerződés<br>
    IMIP<br>
    ✅ Házirend<br>
    Gyermekvédelem<br>
    ✅ Tankönyvek | ✅ PS | ✅ BS<br>
    Regisztrált tehetségpont<br>
    Kék tér program<br>
    KEVE program<br>

* **Étkezési információk**<br>
    ✅ Befizetési időpontok az NGSZ-nél<br>
    ✅ Étkezési térítési díjak `2023 óta az NGSZ weboldalon sincs frissítve`<br>
    Közétkeztetés – NGSZ weboldal<br>
    Közétkeztetés – étlapok<br>
 
* **Közzétételi lista**<br>
    Felvételi lehetőségről szóló tájékoztató<br>
    &emsp;Felvételi lehetősége<br>
    &emsp;✅ Beiratkozáskor leadandó nyomtatványok<br>
    &emsp;Körzetünk<br>
    &emsp;Iskolahívogatók PS/BS<br>
    ✅ Engedélyezett osztályok, csoportok száma, beiratkozás ideje | ✅ PS | ✅ BS<br>
    A fenntartó által engedélyezett osztályok, csoportok száma<br>
    Térítési díj, tandíj<br> 
    ✅ Étkezési térítési díjak `2023 óta az NGSZ weboldalon sincs frissítve`<br> 
    Fenntartói értékelés, nyilvános megállapításokat tartalmazó vizsgálatok<br> 
    Nyitvatartás rendje<br>
    ✅ Eseménynaptárak | ✅ PS | ✅ BS<br> 
    Pedagógiai-szakmai ellenőrzési feladatok ellenőrzése<br>
    &emsp;Intézményi tanfelügyelet eredménye 2018<br>
    &emsp;Intézményvezetői tanfelügyelet eredménye 2018<br>
    &emsp;Pedagógus tanfelügyeletének eredménye 2016<br>
    ✅ SZMSZ<br>
    ✅ Házirend<br>
    ✅ Pedagógiai program<br>
    Kompetencia- és teljesítményalapú értékelési rendszer helyi szabályzata<br>
    ✅ Pedagógusok iskolai végzettsége, szakképzettsége PS/BS<br>
    NOKS-osok száma, szakképzettsége PS/BS<br>
    ✅ Országos mérés-értékelés évenkénti eredményei<br>
    ✅ Tanulók le- és kimaradásával, évfolyamismétlésével kapcsolatos adatok PS/BS<br>
    ✅ Tanórán kívüli foglalkozások igénybevételének lehetősége<br>
    &emsp;Egyéni fejlesztés | ✅ PS | ✅ BS<br>
    &emsp;Szakkörök, tehetséggondozás  | ✅ PS | ✅ BS<br>
    &emsp;Szaktárgyi korrepetálások  | ✅ PS | ✅ BS<br>
    Hétvégi házi feladatok, dolgozatok szabályai PS/BS<br>
    Tanulmányok alatti vizsgák követelményei<br>
    &emsp;Osztályozó vizsgák követelményei<br>
    &emsp;A tanulmányok alatti vizsgák tervezett rendje<br>
    &emsp;Osztályozó vizsgák értékelési rendje<br>
    ✅ Osztályok száma és tanulók létszáma PS/BS<br>

* **Beiratkozás, felvétel**
    Tájékoztató a beiratkozásról `Most üres, mert nincs beiratkozás`<br> 
    Beiratkozáshoz szükséges adatok előzetes eletronikus beküldése `A menüpontot töröltem, mert ez egy tavalyi pdf tájékoztató volt.`<br>
    ✅ Beiratkozáskor leadandó nyomtatványok<br>
    ✅ Engedélyezett osztályok száma<br>
    ✅ Iskolahívogatók PS/BS | ✅ PS | ✅ BS

* ✅ **A tanév rendje**

* ✅ **Osztályaink PS/BS**

* ✅ **Órarendek PS/BS**

* **Szülői értekezletek, fogadóórák**<br>
    ✅ Szülői értekezletek | ✅ PS | ✅ BS <br>
    ✅ Fogadóórák | ✅ PS | BS ✅ <br> 
    ✅ Egyéni fogadóórák 

* **Tanórán kívüli foglalkozások**<br>
    ✅ Egyéni fejlesztés | ✅ PS | ✅<br>
    ✅ Szakkörök | ✅ PS | ✅ BS <br> 
    ✅ Szaktárgyi korrepetálások | ✅ PS | ✅ BS

* **Délutáni felügyelet** `Ez kell még? Egyelőre levettem.`<br>

* **✅ Versenyeredmények**<br>

* **✅ Fotó archívum**<br>

* **✅ Pályázatok**<br>
    EFOP-4.1.3<br>
    ✅ Határtalanul PS/BS<br>
    Digitális témahét BS<br>
    Ökoiskola BS<br>
    Iskolakert BS<br>
    Nemzeti Tehetség Program PS/BS<br>
    Comenius projekt PS/BS<br>
    Mi iskolánk PS/BS<br>
    TIOP 2008 PS/BS<br>

* **✅ Alapítványok PS/BS**<br>

* **✅ Letölthető nyomtatványok**<br>

* **e-Ügyintézés**<br>
    Leendő elsősök szülei részére<br>
    Általános tájékoztató<br>
    A KRÉTA rendszer használata<br>

* **✅ Adatkezelési tájékoztatók**<br>
    Adatkezelési tájékoztató – panaszok<br>
    Adatkezelési szabályzat<br>
    Nyilatkozat<br>
    Munkavállalóknak<br>
    Álláspályázóknak<br>
    Szerződéses partnereknek<br>
    Hit- és erkölcstan oktatással kapcsolatos adatkezelés<br>
    Bálint Sándor Tagiskola kamerarendszer adatkezelési szabályzat

* **Intézményfenntartó**<br>

* **Impresszum**<br>

    {{/markdown}}