{{#ifequal list "1o"}}
{{#markdown}}
- **Füzetek, dossziék:**
  - 1 db körülbelül 4 cm szélességű, erős borítású gumis mappa
  - 1 db kemény karton irattartó papucs
  - 1 db üzenőfüzet (vonalas)
  - 3 db négyzetrácsos füzet (27-32) (margóval)
  - 2 db sima füzet (20-32) (margóval)
  - 3db vonalas füzet (14-32)
  - 1 db 36-16 sz. hangjegyfüzet (A/5-ös méret)
<p></p>

**Kérjük, borítsák be a füzeteket, és a gyermeküknek csak a nevét írják rá!**

- **Tolltartó:**
  - 4 db postairón (kék-piros végű: 2 db vastag, 2 db vékony)
  - 3 db HB-s grafit ceruza (Stabilo, Faber castell, Koh-i-noor)
  - 12 db-os színes ceruza (Stabilo, Faber castell, Koh-i-noor)
  - 1 db puha radír (Rotring, Faber castell, Stabilo)
  - 1 db egyenes műanyag vonalzó (10-15 cm)
- **Matematika:**
    - 1 doboz számolókorong
  - 1 csomag színes számolópálca
  - 1 db műanyag óra
  - 1 db egyenes műanyag vonalzó (30 cm)
  - 1 méteres papír-mérőszalag
  - 2 db dobókocka
- **Rajz, technika:**
    - 12 színű vízfesték (Anilinky ajánlott)
  - 1 db ecsettörlő rongy,6db-os nagy tubusú tempera
  - vizes tálka (nagyobb méretű)
  - 12 db-os zsírkréta
  - 12 színű színes ceruza
  - 12 színű filctoll készlet
  - vastag, közepes és vékony ecset (szőrecset legyen, ne műanyag)2-es,6-os,10-es
  - 50 db A/4-es műszaki rajzlap
  - 10 db A/3-as műszaki rajzlap
  - 1 csomag A/4-es színes papír
  - 1 csomag négyzet alakú (20x20 cm) színes origami papír
  - 2 db stift ragasztó ( Pritt Stift)
  - 1 db Technokol ragasztó (kék)
  - 1 db jobb minőségű olló, névvel ellátva
  - 3 csomag írólap
  - 1 db fekete tűfilc,1db vastagabb fekete filc
  - 1 db hegyező (tartályos)
  - natúr színű gyurma
  - 1 csomag színes kartonlapok (rainbow)
  - 2 db bármilyen színű merített papír
- **Testnevelés:**
    - tornazsák
  - fehér póló
  - zokni
  - rövidnadrág
  - tornacipő
  - tréningruha
<p></p>


**A felszereléseket kérjük névvel ellátni!**

- **Egyéb:**
  - 1db A/4-es karton dosszié
  - 1 csomag uzsonnás nylon zacskó
  - váltócipő (ne papucs)
  - székpárna 4 megkötővel
  - 2 csomag 100 db-os papírzsebkendő
  - 2 csomag szalvéta (széthajtható)
  - 1 db teáskanál
  - 1db törülköző akasztóval, névvel
  - 1 műanyag pohár
  - 1 db műanyag uzsonnás doboz
  - babzsák szövetborítással (kb.14x11cm)
<p></p>

**Kérjük a Szülőket, hogy minden eszközön szerepeljen a tanuló neve!**
{{/markdown}}
{{/ifequal}}
{{#ifequal list "2o"}}
{{#markdown}}
- **Füzetek, dossziék:**
- 5 db vonalas (16-32)
  - 2 db négyzetrácsos (27-32) margóval
  - 2 db sima füzet
  - 1 db hangjegy füzet
  - A/4-es gumis mappa
  - 1 db irattartó papucs
- **Tolltartó:**
  - 2 db postairón
  - 3 db HB-s grafit ceruza (Stabilo, Faber castell, Koh-i-noor)
  - 1 db B-s grafit ceruza
  - 12 db-os színes ceruza (Stabilo, Faber castell, Koh-i-noor)
  - 1 db zöld ceruza
  - 1 db puha radír
  - 1 db egyenes műanyag vonalzó (10-15 cm)
  - 1 db hegyező
  - 2 db fekete tűfilc
- **Matematika:**
  - 1 db műanyag óra
  - 1 db kis tükör
  - 1 méteres papír mérőszalag
  - 2 db dobókocka
  - 1 db 30 cm-es műanyag vonalzó
  - 1 db műanyag kis doboz
- **Rajz, technika:**
  - 3 csomag írólap
  - 40 db A/4-es műszaki rajzlap
  - 1 csomag A/4-es színes papír
  - 12 színű vízfesték
  - 1 db ecsettörlő rongy
  - vizes tál
  - 2-es, 4-es, 6-os ecset
  - 2 db ragasztóstift (22 g, Pritt stift)
  - 1 db kék Technokol Rapid ragasztó
  - 1 db jobb minőségű olló névvel ellátva
  - 1 db fekete színű tűfilc
  - 12 db-os zsírkréta
  - Tubusos tempera (6 db-os)
  - 1 db A/2-es színes karton
  - 1db A/3-as fehér műszaki lap
- **Testnevelés:**
  - fehér póló
  - zokni
  - rövidnadrág
  - tornacipő
  - tornazsák
- **Egyéb:**
  - testnevelés felszerelés (fehér póló, zokni, rövidnadrág, tornacipő), névvel, tornazsákkal
  - székpárna
  - 3 csomag 100 db-os papír zsebkendő
  - 2 csomag széthajtható papírszalvéta
  - 1 db textil szalvéta
  - 1 db műanyagpohár
  - 1 db teáskanál
  - váltócipő
{{/markdown}}
{{/ifequal}}
{{#ifequal list "3o"}}
{{#markdown}}
- **Füzetek, dossziék:<br>Kérjük, borítsák be a füzeteket és a gyermeknek csak a nevét írják rá!**
  - 4 db vonalas (12-32)
  - 3 db négyzetrácsos (27-32) margóval
  - 1 db sima füzet
  - 1 db hangjegy füzet (36-16), a tavalyi is jó!
  - 1 db üzenő füzet (vonalas)
  - 1 db széles és erős A/4-es gumis mappa
  - 1 db széles, álló irattartó papucs (karton, műanyag vagy fa)
- **Tolltartó:**
  - 2 db postairón (kék-piros végű, vékony)
  - 4 db HB-s grafit ceruza
  - 1 db B-s grafit ceruza
  - 12 db-os színes ceruza
  - 1 db kék színű Signetta toll
  - 1 db puha radír
  - 1 db egyenes műanyag vonalzó (10-15 cm)
  - 1 db tartályos hegyező
- **Matematika:**
  - 1 db kis tükör
  - 1 méteres papír mérőszalag
  - 2 db dobókocka
  - 1 db 30 cm-es műanyag vonalzó
- **Rajz, technika:**
  - 3 csomag írólap (hófehér)
  - 30 db A/4-es műszaki rajzlap
  - 1 csomag A/4-es színes papír
  - 12 színű vízfesték
  - 1 db ecsettörlő rongy
  - vizes tál (nagyobb méretű) – margarinos doboz is jó
  - 2-es, 4-es, 8-as ecset (szőrecset, nem műanyag)
  - 2 db ragasztóstift (22 g, Pritt stift)
  - 1 db kék Technokol Rapid ragasztó
  - 1 db jobb minőségű olló
  - 2 db fekete színű tűfilc
  - 6 db-os filctoll készlet
  - 12 db-os zsírkréta
- **Testnevelés:**
  - tornazsák
  - fehér póló
  - zokni
  - rövidnadrág
  - tornacipő
- **Egyéb:**
  - székpárna megkötővel
  - 2 csomag 100 db-os papír zsebkendő
  - 2 csomag széthajtható papírszalvéta
  - 1 db textil szalvéta
  - 1 db műanyagpohár
  - 1 db műanyag uzsonnásdoboz
  - 1 db teáskanál
  - váltócipő (nem papucs)
<p></p>

**Kérjük a Szülőket, hogy minden eszközön szerepeljen a tanuló neve!**

**Az épségben megmaradt felszerelések helyett nem kell újat vásárolni!**
{{/markdown}}
{{/ifequal}}
{{#ifequal list "4o"}}
{{#markdown}}
- **Füzetek, dossziék:**
  - 9 db 4. osztályos vonalazású füzet (21-32)
  - 4 db négyzetrácsos (27-32) füzet
  - 1 db hangjegy füzet A/5-ös 36-32 (ha jó állapotban van, akkor a tavalyi is jó)
  - 1 db szótárfüzet, angol órára
  - 2 db karton A/4-es gumis dosszié
- **Tolltartó:**
  - 4 db postairón (kék-piros végű, vékony)
  - 4 db HB-s grafit ceruza (Stabilo, Faber castell, Koh-i-noor)
  - 1 db kék színű golyóstoll
  - 12 db-os színes ceruza (Stabilo, Faber Castell, Koh-i-noor)
  - 1 db egyenes műanyag vonalzó (10-15 cm)
  - 1 db puha radír (Rotring, Stabilo, Faber castell)
  - 1 db hegyező (tartályos és kétlyukú)
- **Rajz, technika:**
  - 1 db jó minőségű olló, névvel ellátva
  - 1 db stift ragasztó (Pritt Stift nagy – 40g), névvel ellátva
  - vastag, közepes és vékony ecset (szőrecset legyen, ne műanyag) + 1 db befőttes üveg teteje
  - 12 db-os vízfesték (Anilinky ajánlott),
  - ecsettörlő rongy
  - vizes tál (nagyobb méretű) – margarinos doboz is jó
  - 6 db nagy tubusos tempera
  - 2-3 db nagyméretű újságpapír
  - 12 db-os filctoll készlet
  - 1 db nagyméretű derékszögű vonalzó (névvel ellátva)
  - körző (névvel ellátva)
  - 10 db A/4-es műszaki rajzlap
- **Testnevelés:**
  - tornazsák
  - fehér póló
  - tornanadrág
  - tréningruha
  - csere zokni
  - tornacipő
- **Egyéb:**
  - váltócipő (nem papucs)
  - székpárna megkötővel (igény szerint)
  - 1 db teáskanál
  - 3 csomag írólap (hófehér)
  - 3 csomag 100 db-os papír zsebkendő
  - 3 csomag szalvéta (széthajtható)
  - 1 csomag uzsonnás zacskó
{{/markdown}}
{{/ifequal}}
{{#ifequal list "5o"}}
{{#markdown}}
- **Angol:**
  - 1 db nagyméretű (A/4-es) vonalas füzet
  - 2 db kisméretű (A/5-ös) vonalas füzet
  - 1 db szótár füzet (tavalyi folytatható)
  - nagy alakú gumis mappa a teljes felszerelésnek
- **Digitális kultúra:**
  - 1 db kisméretű (27-32) négyzetrácsos füzet
  - 1 db kék színű golyóstoll
- **Ének-zene:**
  - 1 db hangjegyfüzet
- **Etika:**
  - 1 db A/5-ös vonalas füzet
- **Magyar nyelv és irodalom:**
  - 3 db A/4-es, nagyméretű (81-32) vonalas füzet
  - 2 db A/5-ös, kisméretű (21-31) vonalas füzet (dolgozatnak)
  - ragasztóstift ( tolltartóba)
  - olló (tolltartóba)
  - 5 db színes ceruza (kék, zöld, barna, narancssárga, piros)
  - 15-20 cm-es kisméretű vonalzó (tolltartóba)
- **Matematika:**
  - 3-4 db A/4-es (nagyméretű) négyzetrácsos füzet (nem spirál)
  - 2 db B-s vagy 2B-s grafitceruza, hegyező
  - 2 db vonalzó (egyenes, háromszög) névvel ellátva, kisméretű is lehet
  - 1 db kisméretű vonalzó (tolltartóba)
  - 1 db használható körző (névvel ellátva)
  - 3 db színes ceruza (piros, kék, zöld)
  - 1 db radír
  - papír szögmérő (névvel ellátva)
  - 2 db dobókocka
  - 1 doboz piros-kék korong (1. osztályos)
  - olló, ragasztóstift
- **Technika:**
  - 1 db A/4-es mappa
  - 1 csomag félfamentes rajzlap
  - 1 csomag műszaki rajzlap
  - A/4-es színeslapcsomag
  - olló és ragasztó
  - négyzetrácsos füzet
- **Természettudomány:**
  - 1 db vonalas füzet
- **Testnevelés:**
  - tornazsák
  - fehér póló
  - zokni
  - rövidnadrág
  - tornacipő
- **Történelem:**
  - 1 db A/4-es nagyméretű (81-32) vonalas füzet
  - 1 csomag írólap
  - kék színű golyóstoll
- **Vizuális kultúra: (DOBOZBAN!)**
  - Anilinky vízfesték
  - 12 színű tempera
  - 2-es, 4-es, 6-os, 10-es ecset + vizestál
  - törlőrongy
  - fekete tűfilc
  - 2B-s, 3B-s ceruza
  - 40 db A/4-es famentes rajzlap
  - A/4-es színeslapcsomag
  - ragasztóstift
  - olló
{{/markdown}}
{{/ifequal}}
{{#ifequal list "6o"}}
{{#markdown}}
- **Angol:**
  - 1 db nagyméretű (A/4-es) vonalas füzet
  - 2 db kisméretű (A/5-ös) vonalas füzet
  - 1 db szótár füzet (tavalyi folytatható)
  - nagy alakú gumis mappa a teljes felszerelésnek
- **Digitális kultúra:**
  - 1 db kisméretű (27-32) négyzetrácsos füzet
  - 1 db kék színű golyóstoll
- **Ének-zene:**
  - 1 db hangjegyfüzet
- **Etika:**
  - 1 db A/5-ös vonalas füzet
- **Magyar nyelv és irodalom:**
  - 3 db A/4-es, nagyméretű (81-32) vonalas füzet
  - 1 db A/5-ös, kisméretű (21-31) vonalas füzet (dolgozatnak)
  - ragasztóstift ( tolltartóba)
  - olló (tolltartóba)
  - 5 db színes ceruza (kék, zöld, barna, narancssárga, piros)
  - 15-20 cm-es kisméretű vonalzó (tolltartóba)
- **Matematika:**
  - 3-4 db A/4-es (nagyméretű) négyzetrácsos füzet (nem spirál)
  - 1 db sima füzet (nem spirál), jó a tavalyi is
  - B-s vagy 2B-s grafitceruza (ceruzahegyező)
  - 2 db vonalzó (1 db egyenes, 1 db háromszög)
  - 1 db használható körző
  - 3 db színes ceruza (piros, kék, zöld) tolltartóba
  - 1 db radír (tolltartóba)
  - 1 db papír szögmérő
  - 2 db dobókocka
  - olló, ragasztóstift (tolltartóba)
- **Technika:**
  - 1 db négyzetrácsos füzet (a tavalyi folytatható)
  - pótolni a mappa tartalmát (rajzlap, műszaki rajzlap, színeslap)
- **Természettudomány:**
  - 1 db vonalas füzet
- **Testnevelés:**
  - tornazsák
  - fehér póló
  - zokni
  - rövidnadrág
  - tornacipő
- **Történelem:**
  - 1 db A/4-es nagyméretű (81-32) vonalas füzet
  - 1 csomag írólap
  - kék színű golyóstoll
- **Vizuális kultúra: (5. osztályos DOBOZBAN!)**
  - elfogyott eszközök pótlása
  - 40 db A/4-es famentes rajzlap
{{/markdown}}
{{/ifequal}}
{{#ifequal list "7o"}}
{{#markdown}}
- **Angol:**
  - 1 db nagyméretű (A/4-es) vonalas füzet
  - 2 db kisméretű (A/5-ös) vonalas füzet
  - 1 db szótár füzet
  - 1 nagyméretű gumis mappa
- **Digitális kultúra:**
  - 1 db kisméretű négyzetrácsos füzet (27-32)
  - 1 db kék színű golyóstoll
- **Ének-zene:**
  - 1 db hangjegyfüzet
- **Etika:**
  - 1 db bármilyen füzet
- **Magyar nyelv és irodalom:**
  - 3 db A/4-es, nagyméretű (81-32) vonalas füzet
  - 1 db A/5-ös, kisméretű (21-31) vonalas füzet
  - 1 db ragasztóstift
  - kisméretű vonalzó
  - zöld toll
- **Matematika:**
  - 3-4 db A/4-es, nagyméretű négyzetrácsos füzet (nem spirál)
  - B-s vagy 2B-s grafitceruza (ceruzahegyező) - tolltartóba
  - 2 db vonalzó (1 db egyenes, 1 db háromszög) - tolltartóba
  - 1 db használható körző - tolltartóba
  - 3 db színes ceruza (piros, kék, zöld) - tolltartóba
  - 1 db radír - tolltartóba
  - 2 db dobókocka
  - olló, ragasztóstift - tolltartóba
- **Technika:**
  - 1 db füzet (a tavalyi folytatható)
  - 1 db mappa
  - 1 csomag félfamentes rajzlap
  - 1 csomag színes lap
  - olló
  - ragasztó a tolltartóban
<p></p>

**A tavalyi taneszközöket elég pótolni.**

- **Fizika:**
  - 1 db nagyalakú négyzetrácsos füzet
  - 1 csomag írólap
- **Kémia:**
  - 1 db nagyméretű négyzetrácsos füzet (A/4)
  - 1 db kisméretű négyzetrácsos füzet (A/5)
- **Biológia:**
  - 1 db vonalas füzet
- **Földrajz:**
  - 1 db nagyméretű sima füzet
  - színes ceruzák
- **Testnevelés:**
  - tornazsák
  - fehér póló
  - zokni
  - rövidnadrág
  - tornacipő
- **Történelem:**
  - 1 db A/4-es nagyméretű vonalas füzet
  - 1 csomag írólap
  - 1 db kék színű golyóstoll
- **Vizuális kultúra:**
  - az 5. osztályos dobozban elfogyott eszközök pótlása
  - 40 db A/4-es famentes rajzlap, A/4-es mappában
{{/markdown}}
{{/ifequal}}
{{#ifequal list "8o"}}
{{#markdown}}
- **Angol:**
  - 1 db nagyméretű (A/4-es) vonalas füzet
  - 2 db kisméretű (A/5-ös) vonalas füzet
  - 1 db szótár füzet (a tavalyi folytatható)
  - 1 gumis mappa
- **Digitális kultúra:**
  - 1 db kisméretű négyzetrácsos füzet (27-32)
  - 1 db kék színű golyóstoll
- **Ének-zene:**
  - 1 db A6/5-ös kisméretű (36-32) hangjegyfüzet
- **Etika:**
  - 1 db bármilyen füzet
- **Magyar nyelv és irodalom:**
  - 3 db A/4-es, nagyméretű (81-32) vonalas füzet
  - 1 db A/5-ös, kisméretű (21-31) vonalas füzet
  - 1 db ragasztóstift (tolltartóba)
  - kisméretű vonalzó (15-20 cm)
  - 1 db gyorsfűző, lefűző tasakokkal
- **Matematika:**
  - 3-4 db A/4-es, nagyméretű négyzetrácsos füzet (nem spirál)
  - B-s vagy 2B-s grafitceruza (ceruzahegyező)
  - 2 db vonalzó (1 db egyenes, 1 db háromszög) - tolltartóba
  - 1 db használható körző (geometria órára) tolltartóba
  - 3 db színes ceruza (piros, kék, zöld) - tolltartóba
  - 1 db radír - tolltartóba
  - 2 db dobókocka
  - olló, ragasztóstift – tolltartóba
  - 1 db gyorsfűző, lefűző tasakokkal
- **Fizika:**
  - 1 db nagyalakú négyzetrácsos füzet (tavalyi folytatható)
  - 1 csomag írólap
- **Kémia:**
  - 1 db nagyméretű négyzetrácsos füzet (A/4)
- **Biológia:**
  - 1 db vonalas füzet
- **Földrajz:**
  - 1 db nagyméretű sima füzet
  - színes ceruzák
- **Testnevelés:**
  - tornazsák
  - fehér póló
  - zokni
  - rövidnadrág
  - tornacipő
- **Történelem:**
  - 1 db A/4-es nagyméretű vonalas füzet
  - 1 csomag írólap
  - 1 db kék színű golyóstoll
- **Vizuális kultúra: elfogyott eszközök pótlása**
  - 40 db A/4-es famentes rajzlap
  - A/4-es mappában
  Egy db cipősdoboz tartalma:
  - 1 db 12 színű gombfesték(anilinky)
  - minimum 3 db ecset
  - 1 db tempera készlet (6 vagy 12 színű)
  - 12 db színes ceruza
  - 2B-s, 3B-s ceruza
  - 1 csomag gyurma (natúr)
  - 1 db olló
  - A/4-es színeslap készlet
  - ecsethez rongy
  - Pritt ragasztóstift
  - fekete tűfilc
{{/markdown}}
{{/ifequal}}
