{{#ifequal list "1o"}}
{{#markdown}}
<p style="margin-bottom: 0;"><b>Füzetek:</b></p>

- 1 db A/4-es sima
- 1 db 36-16 kottafüzet
- 3 db 14-32 1. osztályos vonalazású füzet
- 3 db 27-32 négyzetrácsos füzet
- 3 db sima füzet A/5 
<p></p>

Minden füzetet, átlátszó nem ragasztós borítóba legyenek szívesek csomagolni! A könyveket **ne** csomagolják be!

- 20 db félfamentes rajzlap A/4
- 20 db famentes rajzlap A/4
- 1 ív merített papír (bármilyen színű)
- 1 csomag színes papír A/4
- 1 tasak írólap
- 1 db gyurmatábla A/4
- 1 db **fehér** gyurmatábla **A/5**
- 1 db tartályos hegyező
- 3 db A/4-es méretű gumis mappa
- 1 db **vastag** (whiteboard) kék/fekete filctoll
- **1 db tolltartó, benne:**
	- 5 db HB-s grafitceruza (radír nélküli)
	- 2 db vékony piros-kék ceruza
	- 1 db piros-kék postairon
	- 1 db elefántos fehér radír
	- 12 darabos színes ceruza (tizenkét különböző színű, jó minőségű)
	- 1 db fém teáskanál
<p></p>

**Legyenek szívesek a gyermek nevét, vagy monogramját és óvodai jelét mindenre ráírni!**

<p style="margin-bottom: 0;"><b>Megfelelő méretű műanyag dobozokban:</b></p>
<p style="margin-bottom: 0;"><i>Matematika dobozban</i></p>

- 1 doboz logikai lapok
- 1 db műanyag óralap
- 2 doboz számolókorong
- 1 csomag számolópálcika
- 1 db 10-15 cm-es vonalzó (merev, ami a tolltartóban elfér)
- 1 db kétoldalas kistükör
- 1 db műanyag hőmérő
<p></p>

<p style="margin-bottom: 0;"><i>Technika- Rajz dobozban</i></p>

- 1 db olló (jól használható)
- 1 db Pritt Stift 43 g-os ragasztó
- 1 doboz zsírkréta ( jó minőségű, legalább 12 színű)
- 1 doboz natúr gyurma
- 1 db 2-es,6-os,10-es ecset
- 12 színű vízfesték ( Anilinky)
- 1 db ecsetes tál (pl. szögletes margarinos, vajkrémes tál) ecsettörlő rongy
- 12 színű jó minőségű filctoll készlet
- 1 db babzsák
<p></p>

<p style="margin-bottom: 0;"><i>Tornazsákban</i></p>

- 1 db kicsi törölköző
- 1 pár fehér zokni
- 1 pár tornacipő vagy edzőcipő (ne legyen csúszós a talpa)
- iskolai emblémás póló / fehér póló sötét színű rövidnadrág
- hosszú melegítőnadrág, felső
<p></p>

Augusztus utolsó hetében, megbeszélt időpontban kérjük behozni:

Matematika doboz, Technika- Rajz doboz,

100 darab nem éttermi szalvéta, 1 csomag 100 darabos zsebkendő, 1 csomag uzsonnás zacskó, váltóruha

Köszönettel: *Erika néni és Anett néni*
{{/markdown}}
{{/ifequal}}

{{#ifequal list "2o"}}
{{#markdown}}
**A füzetekre csak nevet kérünk ráírni, tantárgyat nem!**

- 4 db kisalakú 16-32 sz. vonalas füzet
- 1 db kisalakú 27-32 sz. négyzetrácsos füzet
- 1 db nagyalakú négyzetrácsos füzet 87-32 nem spirálos
- 1 db kisalakú sima füzet 20-32
- 1 db kisalakú üzenőfüzet
- 5-6 db grafit ceruza
- 12 színes ceruza, plusz kék, piros, zöld 1-1- db
- kisméretű (kb. 20cm-es) vonalzó, ami a tolltartóban elfér (nem papír)
- 30 db „műszaki” rajzlap fehér
- 2 csomag írólap
- 1 fekete tűfilc
- vizes edény, (tavalyi) névvel ellátva
- 1 csomag ecsetkészlet
<p></p>

**Minden tavalyi, megfelelő állapotú eszköz az idén is használható! (korong, pálca, dobókocka)**

- 1 jobb olló (balkezeseknek „balos”, az elsős is jó)
- 1 db mérőszalag
- 1 db krepp papír (vagy zöld, vagy narancs, vagy citrom, vagy barna, vagy piros)
- 1 db kicsi műanyag boríték a jutalomkártyáknak
- váltóruha, váltó cipő
- tornafelszerelés tornazsákban:
  - évszaknak megfelelően rövid, vagy hosszú nadrág Petőfis póló, pulóver
  - fehér zokni
  - kényelmes csúszásmentes cipő
<p></p>

**Kötelező olvasmány** Bosnyák Viktória: A SIRÁLY A KIRÁLY?
{{/markdown}}
{{/ifequal}}

{{#ifequal list "3o"}}
{{#markdown}}
**Taneszközlista 3. osztály**

**A füzetekre csak nevet kérünk ráírni, tantárgyat nem!**

- 1 db 16-32 (másodikos vonalazású!) füzet
- 7 db harmadikos vonalazású füzet
- 1 db szótárfüzet angolosoknak
- 1 db 27-32 sz. négyzetrácsos füzet
- 1 db leckefüzet
- 1 db üzenőfüzet
- Hangjegyfüzet – 2. osztályban használt. Nem kell új!
- 1 db Mesefüzet kisalakú harmadikos vonalazású füzet
- 5 db HB-s grafit ceruza – ne legyen radíros és lehetőleg ne henger alakú
- 2 db B-s grafit ceruza rajzórára
- 1 db fehér radír
- 15-20 cm-es vonalzó (tolltartóba)
- 2 db vékony kék-piros ceruza
- 1 db zöld ceruza
- 1 db golyóstoll (csak kék színű)
- 12 színű színes ceruza
- margarinos doboz vizes edénynek
- 1 db fekete tűfilc
- 12 színű filctoll készlet
- 20 db fehér rajzlap
- 3 db különböző vastagságú ecset
- 12 színű Anilinky festék
- A/4 méretű színespapír csomag
- A/4 méretű színeskarton csomag
- négyzet alakú színespapír csomag
- 2 csomag írólap
- 2 db A/4-es gumis mappa (puha fedelű)
- **Digitális kultúra:**
  - 1 db 27-32 kisméretű négyzetrácsos füzet
  - 1 db kék színű toll
- **tornafelszerelés:**
  - tornazsák
  - Petőfis póló
  - sötét alsó
  - fehér zokni
  - torna-/edzőcipő
  - kis méretű törölköző
<p></p>

**Minden tavalyi, megfelelő állapotú eszköz az idén is használható!**
{{/markdown}}
{{/ifequal}}

{{#ifequal list "4o"}}
{{#markdown}}
**Minden tavalyi, megfelelő állapotú eszköz az idén is használható!**

- 8 db 21-32 sz. kisalakú vonalas füzet
- 4 db 27-32 sz. kisalakú négyzetrácsos füzet
- 1 db 36-16 sz. hangjegyfüzet (A/5 méretben) Jó a tavalyi is.
- 1 db leckefüzet
- 1 db üzenőfüzet
- 3 db grafit ceruza, 1 db B-s ceruza és Rotring, radír
- kis vonalzó, ami elfér a tolltartóban
- 30 cm-es vonalzó
- derékszögű vonalzó
- vékony hegyű kék színű toll (NEM zselés)
- tartályos hegyező
- 5 csomag írólap
- 5 db A/4-es gumis mappa
- 12 színű filctoll
- fekete filctoll
- 1 uzsonnásdoboz
- 1 csomag papírzsebkendő
- 1 db teáskanál
- 1 csomag szalvéta, 1 csomag uzsonnás zacskó
- **tornafelszerelés:** Névbeírással!
    - sötét alsó
    - emblémás, illetve fehér póló
    - tornacipő
    - fehér zokni
- **Angol 1:**
  - 1 db 31-32 kisalakú szótárfüzet
- **Digitális kultúra:**
  - 1 db kék színű toll
  - 1 db db 27-32 sz. kisalakú négyzetrácsos füzet
- **Angol 2 (Lili néni):**
  - 3 db 21-32 sz. kisalakú vonalas füzet
  - 1 db 31-32 kisalakú szótárfüzet
  - 1 db zöld golyóstoll
{{/markdown}}
{{/ifequal}}

{{#ifequal list "5o"}}
{{#markdown}}
- **Magyar nyelvtan**
  - 2 db nagyalakú vonalas füzet 81-32
- **Magyar irodalom**
  - 2 db kisalakú vonalas füzet 21-32
- **_Történelem és állampolgári ismeretek_**
  - 1 db nagyalakú vonalas füzet 81-32
    - 1 db kisalakú vonalas füzet 21-32
- **Angol**
  - 1 db nagyalakú vonalas füzet 81-32
  - 1 db kisalakú szótárfüzet 31-32 (csak a nemtagozatnak)
- **Matematika**
  - 5 db négyzetrácsos füzet 27-32
  - 1 db sima füzet A/5 20-32
    - 1 db papír szögmérő
  - 1 db körző
  - 2 db derékszögű vonalzó
  - 1 db egyenes vonalzó 30cm
  - 1 db kisvonalzó, ami a tolltartóban elfér
- **Természetismeret**
  - 1 db vonalas füzet 21-32 vagy 88-32
- **Ének-zene**
  - 1 db kisalakú hangjegyfüzet 36-32
- **Technika és életvitel**
  - 10 db műszaki rajzlap
  - 10 db félfamentes rajzlap
  - 1 db A4-es mappa
  - olló
  - ragasztó
  - 1 csomag A4-es színes papír készlet
  - 1 db kisalakú vonalas füzet 20-32
- **Erkölcstan**
  - 1 db kisalakú vonalas füzet 21-32
- **Digitális kultúra**
    - 1 db kisméretű négyzetrácsos füzet 27-32
    - 1 db kék színű toll
- **Rajz- és vizuális kultúra**
  - rajzlap: 40 db A/4-es méretű famentes
  *Csak a kifogyott felszerelést kell pótolni.*
  - 1 db cipős doboz
  - 1 db 12 színű gombfesték (lehetőleg Anilinky)
  - minimum 3 db ecset
  - 1 db temperakészlet (6 vagy 12 színű)
  - 12 színű színes ceruza
  - 2B-s ceruza
  - 1 csomag gyurma- (natúr)
  - 1 db olló, rag sztó
  - 1 db map  pa
  - A4-s szí  nes papír készlet
  - 1 db rossz- póló
  - 1 db rongy
  - Fekete tűfilc
- **Testnevelés és sport**
  - 1 db tornazsák
  - Petőfis póló
  - fehér zokni
  - sötét alsó
  - tornacipő
<p></p>

*Minden órán legyen: Színes ceruza: sárga, világos barna, sötétbarna, kék, zöld, piros, fekete, ceruza (B-s, H), radír, kék színű golyóstoll, zöld színű golyóstoll, vonalzó*

**Kötelező olvasmány:** Molnár Ferenc: A Pál utcai fiúk
{{/markdown}}
{{/ifequal}}

{{#ifequal list "6o"}}
{{#markdown}}
- **Magyar nyelvtan**
  - 2 db nagyalakú vonalas füzet 81-32
- **Magyar irodalom**
  - 2 db kisalakú vonalas füzet 21-32
- **Történelem és állampolgári ismeretek**
  - 1 db nagyalakú vonalas füzet 81-32
  - 1 db kisalakú vonalas füzet 21-32
- **Angol**
  - 1 db nagyalakú vonalas füzet 81-32
  - 1 db kisalakú vonalas füzet 21-32
  - 1 db kisalakú szótárfüzet 31-32
- **Matematika**
  - 5 db kisalakú négyzetrácsos füzet 27-32
  - 1 db sima füzet kisalakú 20-32
  - 1 db körző
  - 2 db derékszögű vonalzó
  - 1 csomag írólap
  - 1 db egyenes vonalzó 30cm
  - 1 db kisvonalzó, ami a tolltartóban elfér
- **Digitális kultúra**
  - 1 db kisméretű négyzetrácsos füzet 27-32
- **Természetismeret, Földünk és környezetünk**
  - 1 db kisméretű vonalas füzet 21-32 vagy 88-32
- **Ének-zene**
  - 1 db kisalakú hangjegyfüzet 36-32
- **Technika és életvitel**
  - 10 db műszaki rajzlap
  - 10 db félfamentes rajzlap
  *Csak a kifogyott felszerelést kell pótolni.*
  - 1 db A4-es mappa
  - olló
  - ragasztó
  - 1 csomag A4-es színes papír készlet
  - 1 db kisalakú vonalas füzet 20-32
- **Osztályfőnöki**
  - 1 db kisalakú vonalas füzet 21-32
- **Rajz- és vizuális kultúra**
  - 40 db A/4-es méretű famentes rajzlap
  *Csak a kifogyott felszerelést kell pótolni.*
  - 1 db cipős doboz
  - 1 db 12 színű gombfesték (lehetőleg Anilinky)
  - minimum 3 db ecset
  - 1 db temperakészlet (6vagy 12 színű)
  - 12 színű színes ceruza
  - 2B-s ceruza
  - 1 csomag gyurma (natúr)
  - 1 db olló, ragasztó
  - 1 db mappa
  - A4-s színes papír készlet
  - 1 db rossz póló
  - 1 db rongy
  - Fekete tűfilc
- **Testnevelés és sport**
  - 1 db tornazsák
  - Petőfis póló
  - fehér zokni
  - sötét alsó
  - tornacipő
- **Erkölcstan**
  - 1 db kisalakú vonalas füzet 21-32
<p></p>

*Minden órán legyen: Színes ceruza: sárga, világos barna, sötétbarna, kék, zöld, piros, fekete, ceruza (B-s, HB-s), radír, kék színű golyóstoll, zöld színű golyóstoll, vonalzó*

**Kötelező olvasmány:** Gárdonyi Géza: Egri csillagok
{{/markdown}}
{{/ifequal}}

{{#ifequal list "7o"}}
{{#markdown}}
- **Magyar nyelvtan**
  - 1 db kisalakú vonalas füzet 21-32
  - 1 db nagyalakú vonalas füzet 81-32
- **Magyar irodalom**
  - 1 db kisalakú vonalas füzet 21-32
  - 1 db nagyalakú vonalas füzet 81-32
- **Történelem és állampolgári ismeretek**
  - 1 db nagyalakú vonalas füzet 81-32
  - 1 db kisalakú vonalas füzet 21-32
- **Angol**
  - 1 db nagyalakú vonalas füzet 81-32
- **Angol tagozat**
  - 1 db kisalakú vonalas füzet 21-32
  - 1 db kisalakú szótárfüzet 31-32
- **Matematika**
  - 5 db kisalakú négyzetrácsos füzet 27-32
  - 1 db sima kisalakú füzet 20-32
  - 1 db körző
  - 2 db derékszögű vonalzó
  - 1 db egyenes vonalzó 30cm
  - 1 db kisvonalzó, ami a tolltartóban elfér
- **Digitális kultúra**
  - 1 db kisalakú négyzetrácsos füzet 27-32
- **Fizika**
  - 1 db nagyalakú négyzetrácsos füzet 87-32
  - 1 csomag írólap
- **Biológia**
  - vonalas füzet (21-32 vagy 81-32)
- **Kémia**
  - vonalas füzet (21-32 vagy 81-32)
- **Földünk és környezetünk**
  - 1 db nagyalakú vonalas füzet 81-32
  - 1 csomag írólap
- **Ének-zene**
  - 1 db kisalakú hangjegyfüzet 36-32
- **Erkölcstan**
  - 1 db kisalakú vonalas füzet 21-32
- **Osztályfőnöki:**
  - 1 db kisalakú vonalas füzet 21-32
- **Testnevelés és sport**
  - 1 db tornazsák
  - petőfis póló
  - fehér zokni
  - sötét alsó
  - tornacipő
- **Rajz- és vizuális kultúra**
  - 40 db A/4-es méretű famentes rajzlap
  *Csak a kifogyott felszerelést kell pótolni.*
  - 1 db cipős doboz
  - 1 db 12 színű gombfesték (lehetőleg Anilinky)
  - minimum 3 db. ecset
  - 1 db temperakészlet (6 vagy 12 színű)
  - 12 színű színes ceruza
  - 2B-s ceruza
  - 1 csomag gyurma (natúr)
  - 1 db olló, ragasztó
  - 1 db mappa
  - A4-s színes papír készlet
  - 1 db rossz póló
  - 1 db rongy
  - Fekete tűfilc
- **Technika és életvitel**
  - 10 db műszaki rajzlap
  - 10 db félfamentes rajzlap
  *Csak a kifogyott felszerelést kell pótolni.*
  - 1 db A4-es mappa
  - olló
  - ragasztó
  - 1 csomag A4-es színes papír készlet
  - 1 db kisalakú vonalas füzet 20-32
  <p></p>

*Minden órán legyen: Színes ceruza: sárga, világos barna, sötétbarna, kék, zöld, piros, fekete, ceruza (B-s, HB-s), radír, kék színű golyóstoll, zöld színű golyóstoll, vonalzó*
{{/markdown}}
{{/ifequal}}

{{#ifequal list "8o"}}
{{#markdown}}
- **Magyar nyelvtan és Magyar irodalom**
  - 2 db nagyalakú vonalas füzet 81-32
  - 2 db kisalakú vonalas füzet 21-32
- **Történelem**
  - 1 db nagyalakú vonalas füzet 81-32
  - 1 db kisalakú vonalas füzet 21-32
- **Állampolgári ismeretek**
  - 1 db kisalakú vonalas füzet 21-32
- **Angol**
  - 1 db nagyalakú vonalas füzet 81-32
- **Angol tagozat**
  - 1 db kisalakú szótárfüzet 31-32
- **Matematika**
  - 5 db négyzetrácsos füzet 27-32
  - 1 db sima füzet A/4 80-32
  - 1 db körző
  - 2 db derékszögű vonalzó
  - 1 db egyenes vonalzó 30cm
  - 1 db kisvonalzó, ami a tolltartóban elfér
- **Digitális kultúra**
  - 1 db kisalakú négyzetrácsos 27-32
- **Fizika**
 - 1 db nagyalakú négyzetrácsos füzet (tavalyi folytatható) 87-32 
 - 1 csomag írólap
- **Biológia**
  - vonalas füzet (21-32 vagy 81-32)
- **Kémia**
  - vonalas füzet (21-32 vagy 81-32)
- **Földünk és környezetünk**
  - 1 db vonalas A/4-es vonalas füzet 81-32
  - 1 csomag írólap
- **Ének-zene**
  - 1 db kisalakú hangjegyfüzet 36-32
- **Erkölcstan**
  - 1 db kisalakú vonalas füzet 21-32
- **Testnevelés és sport**
  - 1 db tornazsák
  - petőfis póló
  - fehér zokni
  - sötét alsó
  - tornacipő
- **Rajz- és vizuális kultúra**
  - rajzlap: 40 db A/4-es méretű famentes
- **Csak a kifogyott felszerelést kell pótolni.**
  - 1 db cipős doboz
  - 1 db 12 színű gombfesték (lehetőleg Anilinky)
  - minimum 3 db ecset
  - 1 db temperakészlet (6 vagy 12 színű)
  - 12 színű színes ceruza
  - 2B-s ceruza
  - 1 csomag gyurma (natúr)
  - 1 db olló
  - 1 db stift ragasztó
  - 1 db mappa
  - A4-s színes papír készlet
  - 1 db rossz póló
  - 1 db rongy
  - Fekete tűfilc
- **Osztályfőnöki:**
  - 1 db kisalakú vonalas füzet 21-32
<p></p>

*Minden órán legyen: Színes ceruza: sárga, világos barna, sötétbarna, kék, zöld, piros, fekete, ceruza (B-s, HB-s), radír, kék színű golyóstoll, zöld színű golyóstoll, vonalzó*
{{/markdown}}
{{/ifequal}}

