<li>
    <a href="#">&thinsp;<i class="fas fa-award"></i>&ensp;&thinsp;Versenyeredmények</a>
    <ul class="menu vertical nested
  {{#ifpage
    'versenyeredmenyek_2023_24_ps_bs'
    'versenyeredmenyek_2022_23_ps_bs'
    'versenyeredmenyek_2021_22_ps_bs'
    'versenyeredmenyek_2020_21_ps_bs'
    'versenyeredmenyek_2019_20_ps_bs'
    'versenyeredmenyek_2018_19_ps_bs'
    'versenyeredmenyek_2017_18_ps_bs'
    'versenyeredmenyek_2016_17_ps_bs'
    'versenyeredmenyek_2015_16_ps_bs'
    'versenyeredmenyek_2014_15_ps_bs'
    
    }}
    is-active
  {{/ifpage}}">
        <li {{#ifpage 'versenyeredmenyek_2023_24_ps_bs' }} class="current" {{/ifpage}}>
            <a href="{{root}}versenyeredmenyek/versenyeredmenyek_2023_24_ps_bs.html">2023–2024 {{>label}}</a>
        </li>
        <li {{#ifpage 'versenyeredmenyek_2022_23_ps_bs' }} class="current" {{/ifpage}}>
            <a href="{{root}}versenyeredmenyek/versenyeredmenyek_2022_23_ps_bs.html">2022–2023 {{>label}}</a>
        </li>
        <li {{#ifpage 'versenyeredmenyek_2021_22_ps_bs' }} class="current" {{/ifpage}}>
            <a href="{{root}}versenyeredmenyek/versenyeredmenyek_2021_22_ps_bs.html">2021–2022 {{>label}}</a>
        </li>
        <li {{#ifpage 'versenyeredmenyek_2020_21_ps_bs' }} class="current" {{/ifpage}}>
            <a href="{{root}}versenyeredmenyek/versenyeredmenyek_2020_21_ps_bs.html">2020–2021 {{>label}}</a>
        </li>
        <li {{#ifpage 'versenyeredmenyek_2019_20_ps_bs' }} class="current" {{/ifpage}}>
            <a href="{{root}}versenyeredmenyek/versenyeredmenyek_2019_20_ps_bs.html">2019–2020 {{>label}}</a>
        </li>
        <li {{#ifpage 'versenyeredmenyek_2018_19_ps_bs' }} class="current" {{/ifpage}}>
            <a href="{{root}}versenyeredmenyek/versenyeredmenyek_2018_19_ps_bs.html">2018–2019 {{>label}}</a>
        </li>
        <li {{#ifpage 'versenyeredmenyek_2017_18_ps_bs' }} class="current" {{/ifpage}}>
            <a href="{{root}}versenyeredmenyek/versenyeredmenyek_2017_18_ps_bs.html">2017–2018 {{>label}}</a>
        </li>
        <li {{#ifpage 'versenyeredmenyek_2016_17_ps_bs' }} class="current" {{/ifpage}}>
            <a href="{{root}}versenyeredmenyek/versenyeredmenyek_2016_17_ps_bs.html">2016–2017 {{>label}}</a>
        </li>
        <li {{#ifpage 'versenyeredmenyek_2015_16_ps_bs' }} class="current" {{/ifpage}}>
            <a href="{{root}}versenyeredmenyek/versenyeredmenyek_2015_16_ps_bs.html">2015–2016 {{>label}}</a>
        </li>
        <li {{#ifpage 'versenyeredmenyek_2014_15_ps_bs' }} class="current" {{/ifpage}}>
            <a href="{{root}}versenyeredmenyek/versenyeredmenyek_2014_15_ps_bs.html">2014–2015 {{>label}}</a>
        </li>
    </ul>
</li>