<p class="h4 text-center" style="margin-top: 1rem;"><small>További galériáink</small></p>
<hr style="margin:0">

  <p class="text-center">
  <ul
    class="vertical menu align-center show-for-small-only
  {{#ifpage
    'fooldal_2017_18_ps'
    'fooldal_2017_18_bs'
    'fooldal_2019_20_ps'
    'fooldal_2018_19_ps'
    'fooldal_2018_19_bs'
    'fooldal_2019_20_ps'
    'fooldal_2019_20_bs'
    'fooldal_2020_21_ps'
    'fooldal_2020_21_bs'
    'fooldal_2021_22_ps'
    'fooldal_2021_22_bs'
    'fooldal_2022_23_ps'
    'fooldal_2022_23_bs'
    
    'galeria_2017_18_ps'
    'galeria_2017_18_bs'
    'galeria_2018_19_ps'
    'galeria_2018_19_bs'
    'galeria_2019_20_ps'
    'galeria_2019_20_bs'
    'galeria_2020_21_ps'
    'galeria_2020_21_bs'
    'galeria_2021_22_ps'
    'galeria_2021_22_bs'
    'galeria_2022_23_ps'
    'galeria_2022_23_bs'

    
    }}
    is-active
  {{/ifpage}}"
  >
    {{> menu_galeriak_base}}
  </ul>
  <ul
    class="menu expanded show-for-medium
  {{#ifpage
    'fooldal_2017_18_ps'
    'fooldal_2017_18_bs'
    'fooldal_2019_20_ps'
    'fooldal_2018_19_ps'
    'fooldal_2018_19_bs'
    'fooldal_2019_20_ps'
    'fooldal_2019_20_bs'
    'fooldal_2020_21_ps'
    'fooldal_2020_21_bs'
    'fooldal_2021_22_ps'
    'fooldal_2021_22_bs'
    'fooldal_2022_23_ps'
    'fooldal_2022_23_bs'
    
    'galeria_2017_18_ps'
    'galeria_2017_18_bs'
    'galeria_2018_19_ps'
    'galeria_2018_19_bs'
    'galeria_2019_20_ps'
    'galeria_2019_20_bs'
    'galeria_2020_21_ps'
    'galeria_2020_21_bs'
    'galeria_2021_22_ps'
    'galeria_2021_22_bs'
    'galeria_2022_23_ps'
    'galeria_2022_23_bs'

    
    }}
    is-active
  {{/ifpage}}"
  >
    {{> menu_galeriak_base}}
  </ul>
</p>