<li>
    <a href="#">&thinsp;<i class="fas fa-camera"></i>&ensp;Fotó archívum</a>
    <ul class="menu vertical nested
  {{#ifpage
    'fooldal_2017_18_ps'
    'fooldal_2017_18_bs'
    'fooldal_2019_20_ps'
    'fooldal_2018_19_ps'
    'fooldal_2018_19_bs'
    'fooldal_2019_20_ps'
    'fooldal_2019_20_bs'
    'fooldal_2020_21_ps'
    'fooldal_2020_21_bs'
    'fooldal_2021_22_ps'
    'fooldal_2021_22_bs'
    'fooldal_2022_23_ps'
    'fooldal_2022_23_bs'
    'fooldal_2023_24_bs'
    'fooldal_2023_24_ps'
    'fooldal_2024_25_bs'
    'fooldal_2024_25_ps'
    
    'galeria_2017_18_ps'
    'galeria_2017_18_bs'
    'galeria_2018_19_ps'
    'galeria_2018_19_bs'
    'galeria_2019_20_ps'
    'galeria_2019_20_bs'
    'galeria_2020_21_ps'
    'galeria_2020_21_bs'
    'galeria_2021_22_ps'
    'galeria_2021_22_bs'
    'galeria_2022_23_ps'
    'galeria_2022_23_bs'
    'galeria_2023_24_bs'
    'galeria_2023_24_ps'
    'galeria_2024_25_bs'
    'galeria_2024_25_ps'

    
    }}
    is-active
  {{/ifpage}}">
        {{> menu_galeriak_base}}
    </ul>
</li>