<li>
  <a href="#">&thinsp;<i class="fas fa-lock"></i>&ensp;Adatkezelési tájékoztatók</a>
  <ul class="menu vertical nested {{#ifpage 
    'tanuloknak_es_torv_kepviseloknek'
    'munkavallaloknak'
    'munkavallaloknak'
    'allaspalyazoknak'
    'szerzodeses_partnereknek'
    'adatkezelesi_tajekoztato_tankerulet'
    'adatkezelesi_tajekoztató_hit_es_erkolcstan'
    'adatkezelesi_szabalyzat_intezmeny'
    'adatkezelesi_szabalyzat_bs_kamerarendszer'
    'adatkezelesi_tajekoztato_panaszok'
    }}is-active{{/ifpage}}">

    <li {{#ifpage 'adatkezelesi_tajekoztato_tankerulet' }} class="current" {{/ifpage}}>
      <a href="{{root}}gdpr_tajekoztatok/adatkezelesi_tajekoztato_tankerulet.html">Adatkezelési tájékoztató</a>
    </li>
    <li {{#ifpage 'adatkezelesi_tajekoztato_panaszok' }} class="current" {{/ifpage}}>
      <a href="{{root}}gdpr_tajekoztatok/adatkezelesi_tajekoztato_panaszok.html">Adatkezelési tájékoztató –
        panaszok</a>
    </li>
    <li {{#ifpage 'adatkezelesi_szabalyzat_intezmeny' }} class="current" {{/ifpage}}>
      <a href="{{root}}gdpr_tajekoztatok/adatkezelesi_szabalyzat_intezmeny.html">Adatkezelési szabályzat</a>
    </li>
    <li {{#ifpage 'tanuloknak_es_torv_kepviseloknek' }} class="current" {{/ifpage}}>
      <a href="{{root}}gdpr_tajekoztatok/tanuloknak_es_torv_kepviseloknek.html">Nyilatkozat</a>
    </li>
    <li {{#ifpage 'munkavallaloknak' }} class="current" {{/ifpage}}>
      <a href="{{root}}gdpr_tajekoztatok/munkavallaloknak.html">Munkavállalóknak</a>
    </li>
    <li {{#ifpage 'allaspalyazoknak' }} class="current" {{/ifpage}}>
      <a href="{{root}}gdpr_tajekoztatok/allaspalyazoknak.html">Álláspályázóknak</a>
    </li>
    <li {{#ifpage 'szerzodeses_partnereknek' }} class="current" {{/ifpage}}>
      <a href="{{root}}gdpr_tajekoztatok/szerzodeses_partnereknek.html">Szerződéses partnereknek</a>
    </li>
    <li {{#ifpage 'adatkezelesi_tajekoztató_hit_es_erkolcstan' }} class="current" {{/ifpage}}>
      <a href="{{root}}gdpr_tajekoztatok/adatkezelesi_tajekoztató_hit_es_erkolcstan.html">Hit- és erkölcstan oktatással
        kapcsolatos
        adatkezelés</a>
    </li>
    <li {{#ifpage 'adatkezelesi_szabalyzat_bs_kamerarendszer' }} class="current" {{/ifpage}}>
      <a href="{{root}}gdpr_tajekoztatok/adatkezelesi_szabalyzat_bs_kamerarendszer.html">Bálint Sándor Tagiskola
        kamerarendszer adatkezelési szabályzat</a>
    </li>
  </ul>
</li>