<li {{#ifpage 'fooldal_2017_18_ps' 'galeria_2017_18_ps' 'fooldal_2017_18_bs' 'galeria_2017_18_bs' }} class="current" {{/ifpage}}>
    <a href="{{root}}galeriak/2017_18/ps/fooldal_2017_18_ps.php">2017–2018 {{>label}}</a>
</li>
<li {{#ifpage 'fooldal_2018_19_ps' 'galeria_2018_19_ps' 'fooldal_2018_19_bs' 'galeria_2018_19_bs' }} class="current" {{/ifpage}}>
    <a href="{{root}}galeriak/2018_19/ps/fooldal_2018_19_ps.php">2018–2019 {{>label}}</a>
</li>
<li {{#ifpage 'fooldal_2019_20_ps' 'galeria_2019_20_ps' 'fooldal_2019_20_bs' 'galeria_2019_20_bs' }} class="current" {{/ifpage}}>
    <a href="{{root}}galeriak/2019_20/ps/fooldal_2019_20_ps.php">2019–2020 {{>label}}</a>
</li>
<li {{#ifpage 'fooldal_2020_21_ps' 'galeria_2020_21_ps' 'fooldal_2020_21_bs' 'galeria_2020_21_bs' }} class="current" {{/ifpage}}>
    <a href="{{root}}galeriak/2020_21/ps/fooldal_2020_21_ps.php">2020–2021 {{>label}}</a>
</li>
<li {{#ifpage 'fooldal_2021_22_ps' 'galeria_2021_22_ps' 'fooldal_2021_22_bs' 'galeria_2021_22_bs' }} class="current" {{/ifpage}}>
    <a href="{{root}}galeriak/2021_22/ps/fooldal_2021_22_ps.php">2021–2022 {{>label}}</a>
</li>
<li {{#ifpage 'fooldal_2022_23_ps' 'galeria_2022_23_ps' 'fooldal_2022_23_bs' 'galeria_2022_23_bs' }} class="current" {{/ifpage}}>
    <a href="{{root}}galeriak/2022_23/ps/fooldal_2022_23_ps.php">2022–2023 {{>label}}</a>
</li>
<li {{#ifpage 'fooldal_2023_24_ps' 'galeria_2023_24_ps' 'fooldal_2023_24_bs' 'galeria_2023_24_bs' }} class="current" {{/ifpage}}>
    <a href="{{root}}galeriak/2023_24/ps/fooldal_2023_24_ps.php">2023–2024 {{>label}}</a>
</li>
<li {{#ifpage 'fooldal_2024_25_ps' 'galeria_2024_25_ps' 'fooldal_2024_25_bs' 'galeria_2024_25_bs' }} class="current" {{/ifpage}}>
    <a href="{{root}}galeriak/2024_25/ps/fooldal_2024_25_ps.php">2024–2025 {{>label}}</a>
</li>