<thead>
    <tr>
        <th class="text-center" style="width:44%">Mérési terület</th>
        <th style="width:20%">osztály</th>
        <th class="text-center">Felad. ellát. hely eredménye</th>
        <th class="text-center">A felad. ellát. hely eredm. az orsz. átl. képest</th>
        <th class="text-center">Első viszonyítási csoport</th>
        <th class="text-center">A felad. ellát. hely eredm. az 1. viszonyítási csop. átlagához képest</th>
        <th class="text-center">Második viszonyítási csoport</th>
        <th class="text-center">A felad. ellát. hely eredm. a 2. viszonyítási csop. átlagához képest</th>
    </tr>
</thead>