<style type="text/css">
  #right {
    text-align: right;
  }
</style>




<div class="grid-x grid-margin-x">
  <div class="cell auto"></div>
  <div class="cell small-12 large-10">
    <h3 class="text-center">Petőfi Sándor Általános Iskola<br />„Mi iskolánk, mi óvodánk” pályázat</h3>
    <p>
      <strong>Tárgy:</strong> Ablakcsere a főépület utcafrontján, udvari fajátékok rendbehozatala.
    </p>

    <table class="hover">
      <tbody>
        <tr>
          <td width="180"><strong>Megvalósítás összértéke:</strong></td>
          <td id="right" width="100"><strong>5 024 000 Ft</strong></td>

        </tr>
        <tr>
          <td>Pályázaton elnyert összeg:</td>
          <td id="right">3 274 000 Ft</td>
        </tr>

        <tr>
          <td>Társadalmi munka értéke:</td>
          <td id="right">260 000 Ft</td>
        </tr>

        <tr>
          <td>
            <u>Támogatások:</u>
          </td>
          <td></td>
        </tr>

        <tr>
          <td>Iskolai alapítvány:</td>
          <td id="right">250 000 Ft</td>
        </tr>

        <tr>
          <td>Képviselõi támogatás:</td>
          <td id="right">300 000 Ft</td>
        </tr>

        <tr>
          <td>Vállalkozói támogatás:</td>
          <td id="right">240 000 Ft</td>
        </tr>

        <tr>
          <td>Intézményi saját bevétel:</td>
          <td id="right">700 000 Ft</td>
        </tr>

      </tbody>
    </table>

    <p>
      <strong>
        Megvalósulás:
      </strong>
    </p>

    <ul>
      <li>
        az épület a felújítás előtt,
      </li>
      <li>
        az ablakcsere munkálatai,
      </li>
      <li>
        társadalmi munka,
      </li>
      <li>
        a felújított iskola átadása.
      </li>
    </ul>

    <table class="hover">
      <tbody>
        <tr>
          <td width="100"><strong></strong></td>
          <td class="text-center" width="100"><strong>Munkaóra:</strong></td>
          <td class="text-center" width="100"><strong>Létszám:</strong></td>
        </tr>

        <tr>
          <td>Vállalt:</td>
          <td class="text-center">485</td>
          <td class="text-center">105</td>
        </tr>

        <tr>
          <td>Teljesített:</td>
          <td class="text-center">500</td>
          <td class="text-center">259</td>
        </tr>


      </tbody>
    </table>




  </div>


  <div class="cell auto"></div>
</div>