<script>
	column11 = document.getElementById("11").childElementCount;
	column12 = document.getElementById("12").childElementCount;
	column13 = document.getElementById("13").childElementCount;
	column21 = document.getElementById("21").childElementCount;
	column22 = document.getElementById("22").childElementCount;
	column23 = document.getElementById("23").childElementCount;
	column31 = document.getElementById("31").childElementCount;
	column32 = document.getElementById("32").childElementCount;
	column33 = document.getElementById("33").childElementCount;
	column41 = document.getElementById("41").childElementCount;
	column42 = document.getElementById("42").childElementCount;
	column43 = document.getElementById("43").childElementCount;
	column51 = document.getElementById("51").childElementCount;
	column52 = document.getElementById("52").childElementCount;
	column53 = document.getElementById("53").childElementCount;
	column61 = document.getElementById("61").childElementCount;
	column62 = document.getElementById("62").childElementCount;
	column63 = document.getElementById("63").childElementCount;
	column71 = document.getElementById("71").childElementCount;
	column72 = document.getElementById("72").childElementCount;
	column73 = document.getElementById("73").childElementCount;
	column81 = document.getElementById("81").childElementCount;
	column82 = document.getElementById("82").childElementCount;
	column83 = document.getElementById("83").childElementCount;

	column11b = document.getElementById("11b").childElementCount;
	column12b = document.getElementById("12b").childElementCount;
	column13b = document.getElementById("13b").childElementCount;
	column21b = document.getElementById("21b").childElementCount;
	column22b = document.getElementById("22b").childElementCount;
	column23b = document.getElementById("23b").childElementCount;
	column31b = document.getElementById("31b").childElementCount;
	column32b = document.getElementById("32b").childElementCount;
	column33b = document.getElementById("33b").childElementCount;
	column41b = document.getElementById("41b").childElementCount;
	column42b = document.getElementById("42b").childElementCount;
	column43b = document.getElementById("43b").childElementCount;
	column51b = document.getElementById("51b").childElementCount;
	column52b = document.getElementById("52b").childElementCount;
	column53b = document.getElementById("53b").childElementCount;
	column61b = document.getElementById("61b").childElementCount;
	column62b = document.getElementById("62b").childElementCount;
	column63b = document.getElementById("63b").childElementCount;
	column71b = document.getElementById("71b").childElementCount;
	column72b = document.getElementById("72b").childElementCount;
	column73b = document.getElementById("73b").childElementCount;
	column81b = document.getElementById("81b").childElementCount;
	column82b = document.getElementById("82b").childElementCount;
	column83b = document.getElementById("83b").childElementCount;

	letszam1 = column11 + column12 + column13;
	letszam2 = column21 + column22 + column23;
	letszam3 = column31 + column32 + column33;
	letszam4 = column41 + column42 + column43;
	letszam5 = column51 + column52 + column53;
	letszam6 = column61 + column62 + column63;
	letszam7 = column71 + column72 + column73;
	letszam8 = column81 + column82 + column83;

	letszam1b = column11b + column12b + column13b;
	letszam2b = column21b + column22b + column23b;
	letszam3b = column31b + column32b + column33b;
	letszam4b = column41b + column42b + column43b;
	letszam5b = column51b + column52b + column53b;
	letszam6b = column61b + column62b + column63b;
	letszam7b = column71b + column72b + column73b;
	letszam8b = column81b + column82b + column83b;

	var p1 = document.getElementById("count1");
	p1.innerText = 'Az osztály létszáma: ' + letszam1 + ' fő';
	var p2 = document.getElementById("count2");
	p2.innerText = 'Az osztály létszáma: ' + letszam2 + ' fő';
	var p3 = document.getElementById("count3");
	p3.innerText = 'Az osztály létszáma: ' + letszam3 + ' fő';
	var p4 = document.getElementById("count4");
	p4.innerText = 'Az osztály létszáma: ' + letszam4 + ' fő';
	var p5 = document.getElementById("count5");
	p5.innerText = 'Az osztály létszáma: ' + letszam5 + ' fő';
	var p6 = document.getElementById("count6");
	p6.innerText = 'Az osztály létszáma: ' + letszam6 + ' fő';
	var p7 = document.getElementById("count7");
	p7.innerText = 'Az osztály létszáma: ' + letszam7 + ' fő';
	var p8 = document.getElementById("count8");
	p8.innerText = 'Az osztály létszáma: ' + letszam8 + ' fő';
	
	var p1b = document.getElementById("count1b");
	p1b.innerText = 'Az osztály létszáma: ' + letszam1b + ' fő';
	var p2b = document.getElementById("count2b");
	p2b.innerText = 'Az osztály létszáma: ' + letszam2b + ' fő';
	var p3b = document.getElementById("count3b");
	p3b.innerText = 'Az osztály létszáma: ' + letszam3b + ' fő';
	var p4b = document.getElementById("count4b");
	p4b.innerText = 'Az osztály létszáma: ' + letszam4b + ' fő';
	var p5b = document.getElementById("count5b");
	p5b.innerText = 'Az osztály létszáma: ' + letszam5b + ' fő';
	var p6b = document.getElementById("count6b");
	p6b.innerText = 'Az osztály létszáma: ' + letszam6b + ' fő';
	var p7b = document.getElementById("count7b");
	p7b.innerText = 'Az osztály létszáma: ' + letszam7b + ' fő';
	var p8b = document.getElementById("count8b");
	p8b.innerText = 'Az osztály létszáma: ' + letszam8b + ' fő';
</script>