<h5 class="text-center">Osztályaink</h5>
<hr style="height:1px; border:none; color:#3fa9f5; background-color:#3fa9f5; margin-top: -0.5px;">
<ul class="accordion" data-accordion data-deep-link="true" data-update-history="true" data-deep-link-smudge="true"
  data-deep-link-smudge-delay="500" id="deeplinked-accordion">
  <!-- 1. osztály -->
  <li class="accordion-item" data-accordion-item>
    <!-- Accordion tab title -->
    <a href="#1a" class="accordion-title text-center">1. osztály</a>

    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
    <div class="accordion-content" data-tab-content id="be">
      {{> osztaly_1a}}
    </div>
  </li>

  <!-- 2. osztály -->
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title text-center">2. osztály</a>

    <div class="accordion-content" id="be" data-tab-content>
      {{> osztaly_2a}}
    </div>
  </li>

  <!-- 3. osztály -->
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title text-center">3. osztály</a>

    <div class="accordion-content" id="be" data-tab-content>
      {{> osztaly_3a}}
    </div>
  </li>

  <!-- 4. osztály -->
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title text-center">4. osztály</a>
    <div class="accordion-content" id="be" data-tab-content>
      {{> osztaly_4a}}
    </div>
  </li>

  <!-- 5. osztály -->
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title text-center">5. osztály</a>
    <div class="accordion-content" id="be" data-tab-content>
      {{> osztaly_5a}}
    </div>
  </li>

  <!-- 6. osztály -->
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title text-center">6. osztály</a>
    <!-- fej -->
    <div class="accordion-content" id="be" data-tab-content>
      {{> osztaly_6a}}
    </div>
  </li>

  <!-- 7. osztály -->
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title text-center">7. osztály</a>
    <div class="accordion-content" id="be" data-tab-content>
      {{> osztaly_7a}}
    </div>
  </li>

  <!-- 8. osztály -->
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title text-center">8. osztály</a>
    <div class="accordion-content" id="be" data-tab-content>
      {{> osztaly_8a}}
    </div>

  </li>
</ul>