<div class="cell medium-12 large-3">

    <p><button class="button secondary small expanded" style="color:white;" data-toggle="exampleModal9"><i <i
                class='fas fa-search'>&ensp;</i>KERESÉS</button>
    </p>

    <div style="height: 50rem; overflow: scroll;" class="reveal show-for-large" id="exampleModal9" data-reveal
        data-overlay="false">
        <input type="text" class="docs-search" data-docs-search placeholder="Írjon be egy keresőkifejezést!">
        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    {{>rightcolumn}}


    <!-- cell medium-9 medium-cell-block-y lezárása -->
</div>
</div>