<div class="callout small">
    <a href="https://klik200218001.e-kreta.hu" target="_blank" class="success button small"
        style="color: white; line-height: 1.5rem; width: 150px;">
        <img src="{{root}}assets/img/kreta-logo.png">
        <br>
        <strong>petofi.e-kreta.hu</strong></a>
    <br>
    <span style="margin-top: 3rem; margin-bottom: 2rem;">
        <small>
            Belépéssel kapcsolatos segítséget az alábbi e-mail címen kaphat:<br>
            <a href="mailto:admin@petofiszeged.hu"> admin@petofiszeged.hu</a>
        </small>
    </span>
    <br>
    <br>
    <a href="https://klik200218003.e-kreta.hu" target="_blank" class="success button small"
        style="color: white; line-height: 1.5rem; width: 150px;">
        <strong> <img src="{{root}}assets/img/kreta-logo.png"><br>
            balint.e-kreta.hu</strong></a>
</div>
<div class="callout small">
    <a href=https://www.facebook.com/petofiszeged target="_blank" class="primary button small" id="hover"
        style="width: 150px;">
        <i class="fab fa-facebook-f fa-lg" style="color: white">&ensp;</i>PS Facebook</a>
    <br>
    <a href=https://www.facebook.com/balintszeged/ target="_blank" class="primary button small" style="width: 150px;">
        <i class="fab fa-facebook-f fa-lg" style="color: white">&ensp;</i>BS Facebook</a>
</div>

<div class="callout small">

    <p><strong>Határtalanul! pályázataink</strong></p>
    <p> <img src="{{root}}assets/img/bga_logo_w300_right_column.jpg">
        <hr>
        <img src="{{root}}assets/img/hatartalanul_logo_right_column_light.jpg">
    </p>

    <p> <a class="button success small" style="color: white;"
            href="{{root}}palyazatok/hatartalanul_palyazataink.html"><strong>TOVÁBB AZ
                ALOLDALRA</strong>
        </a></p>

</div>
<div class="callout small">
    <p><strong>Nemzeti Tehetség Program</strong>
    </p>
    <p>
        <img src="{{root}}assets/img/palyazatok/kozos/ntp_logo.jpg">
    </p>
    <a class="button success small" style="color: white;" href="{{root}}palyazatok/ntp.html"><strong>TOVÁBB
            AZ
            ALOLDALRA</strong>
    </a>
</div>

<div class="callout small">
    <p>
        <img src="{{root}}assets/img/okoiskola/ökoiskola-logó.jpg">
    </p>

    <a class="button success small" style="color: white;" href="{{root}}palyazatok/okoiskola.html"><strong>TOVÁBB
            AZ
            ALOLDALRA</strong>
    </a>
    <a href="https://www.oktatas.hu/kozneveles/pedagogiai_szakmai_szolgaltatasok/fenntarthatosagra_neveles"
        target="_blank">Fenntarthatóságra
        nevelés</a>
</div>
<div class="callout small" style="background-color: lightyellow">
    <p><strong>Regisztrált tehetségpont</strong>
    </p>
    <p>
        <img src="{{root}}assets/img/bemutatkozas/regisztralt_tehetsegpont.png">
    </p>
    <a class="button success small" style="color: white;"
        href="{{root}}bemutatkozas/regisztralt_tehetsegpont.html"><strong>TOVÁBB
            AZ
            ALOLDALRA</strong>
    </a>
</div>
<div class="callout small">
    <p><strong>KEVE program</strong>
    </p>
    <p>
        <img src="{{root}}assets/img/palyazatok/bs/keve_program/keve-program-logo.jpg">
    </p>
    <a class="button success small" style="color: white;" href="{{root}}palyazatok/keve_program.html"><strong>TOVÁBB
            AZ
            ALOLDALRA</strong>
    </a>
</div>

<div class="callout small">
    <p><strong>Iskolakert pályázatunk</strong>
    </p>
    <p>
        <img src="{{root}}assets/img/palyazatok/iskolakerti_alapozo_logo_light.jpg">
    </p>
    <a class="button success small" style="color: white;" href="{{root}}palyazatok/iskolakert.html"><strong>TOVÁBB
            AZ
            ALOLDALRA</strong>
    </a>
</div>

<div class="callout small">
    <p><strong>Digitális Témahét</strong>
    </p>
    <p>
        <img src="{{root}}assets/img/palyazatok/digitalis_temahet.jpg">
    </p>
    <a class="button success small" style="color: white;"
        href="{{root}}palyazatok/digitalis_temahet.html"><strong>TOVÁBB
            AZ
            ALOLDALRA</strong>
    </a>
</div>

<div class="callout small">
    <p><strong>Kék tér program</strong>
    </p>
    <p>
        <img src="{{root}}assets/img/bemutatkozas/kék-tér-logo.jpg">
    </p>
    <a class="button success small" style="color: white;"
        href="{{root}}bemutatkozas/kek_ter_program.html"><strong>TOVÁBB
            AZ
            ALOLDALRA</strong>
    </a>
</div>

<div class="callout small">

    <p class="text-center" style="line-height: 1.2rem">
        <small><strong>Iskolánk részt vesz<br>az iskolagyümölcs<br>programban.</strong></small>
        <img src="{{root}}assets/img/iskolagyumolcs_logo.jpg" alt="">
    </p>

</div>

<div class="callout small">
    <p class="text-center" style="line-height: 1.3rem; margin-top: 1rem; margin-bottom: 0.5rem;">
        <strong>Korábbi évek hírfolyamai:</strong>
    </p>
    <hr style="margin-top: 0.7rem; margin-bottom: 0.5rem;">
    {{>regi_hirfolyamok}}

</div>