
  <h5>Felvételi lehetősége</h5>

    <p>
        Az Nkt. 50 § (5.) bekezdése alapján az általános iskola köteles felvenni azt a tanköteles tanulót, akinek lakóhelye, ennek hiányában tartózkodási helye a körzetében található.Az iskolaváltás és a tanuló átvételének szabályaiAz iskola lehetőséget biztosít más iskolában tanuló diákok átvételére. Az átvételről való döntés az intézmény vezetőjének jogköre, döntése előtt köteles kikérni az igazgatóhelyettes, tagintézmény-vezető véleményét. Az átvételkor figyelembe kell venni az átveendő tanuló magatartását, szorgalmát és a vele szemben alkalmazott fegyelmező és fegyelmi intézkedéseket. A tanuló átvételére a tanítási év során bármikor lehetőség van.Az iskolába átvett tanulók osztályba vagy csoportba való beosztásáról az igazgató dönt.
    </p>
   
    <h5>Nyilatkozatok</h5>
    <div class="grid-x grid-margin-x">
    <div class="cell medium-4">
      <div class="callout">
        <p>Nyilatkozat etika illetve hit- és erkölcstan oktatásról</p>
      </div>
    </div>
    <div class="cell medium-4">
      <div class="callout">
        <p>Megerősítő nyilatkozat körzetes gyermekek részére</p>
      </div>
    </div>
    <div class="cell medium-4">
      <div class="callout">
        <p>Szándéknyilatkozat körzeten kívüli gyermekek részére</p>
      </div>
    </div>
    </div>

    A Szegedi Petőfi Sándor Általános Iskola és Bálint Sándor Tagiskola<br>beiskolázási körzete
  
    <ul class="accordion" data-accordion data-allow-all-closed="true">
      <li class="accordion-item" data-accordion-item>
        <!-- Accordion tab title -->
        <a href="#" class="accordion-title">Beiratkozási körzet</a>
    
        <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
        <div class="accordion-content" data-tab-content>
          {{>beiratkozasi_korzet}}

        </div>
      </li>
    </ul>
