<div class="headers">
    <div class="scroller">
        <ul class="tabs" data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge-delay="500" data-tabs id="deeplinked-tabs" style="border: 2px solid deepskyblue;">
            <li class="tabs-title is-active" id="iskolavalaszto"><a href="#panel1d" aria-selected="true">Székhely</a></li>
            <li class="tabs-title"><a href="#panel2d">Tagiskola</a></li>
        </ul>
    </div>
</div>
<style>
.headers {
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
}

.tracks,
.scroller {
    display: flex;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.scroller {
    overflow-x: hidden;
}
</style>