<p class="text-center">
  <strong>Az étkezés befizetésének rendszere 2017. januárjától változott.</strong><br>
  Az intézményben csak a meghirdetett főbefizetési napokon lehet térítési díjat fizetni. <br>
  Kérjük az étkezés befizetési időpontok pontos betartását!
  <br><br>
  21 tanítási napra várható térítési díjak:
</p>

<div class="grid-x grid-margin-x">
  <div class="cell auto"></div>
  <div class="cell small-12 large-9">
    <table class="hover">
      <tbody class="text-right">
        <tr>
          <td class="text-left" width="160">3x-i (TEU) 100%</td>
          <td width="120"><strong>13 200 Ft</strong></td>
          <td width="200">(628,65 Ft /nap)</td>
        </tr>
        <tr>
          <td class="text-left">2x-i (TE) 100%</td>
          <td><strong>10 990 Ft</strong></td>
          <td>(523,24 Ft /nap)</td>
        </tr>
        <tr>
          <td class="text-left">2x-i (EU) 100%</td>
          <td><strong>10 935 Ft</strong></td>
          <td>(520,70 Ft /nap)</td>
        </tr>
        <tr>
          <td class="text-left">Ebéd (E) 100%</td>
          <td><strong>8721 Ft</strong></td>
          <td>(415,29 Ft /nap)</td>
        </tr>
        <tr>
          <td class="text-left">Diétás (E) 100%:</td>
          <td><strong>13 070 Ft</strong></td>
          <td>(622,30 Ft /nap)</td>
        </tr>
        <tr>
          <td class="text-left">Alkalmazott</td>
          <td><strong>15 190 Ft</strong></td>
          <td>(723,39 Ft /nap)</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="cell auto"></div>
</div>

<h6 class="text-center">Az étkezési térítési díjak tájékoztató jellegűek!</h6>
<p class="text-center"><strong>Kérjük az étkezés befizetési időpontok pontos betartását!</strong></p>
<p class="text-center">2018-tól <strong>nincs lehetőség lemondásra és pótbefizetésre</strong><br>az intézményben!
</p>


<p class="text-justify">
  Az étkezési térítési díjat – Ticket Restaurant, Sodexo Melegétel Pass, valamint az Étkezési Erzsébet utalvány és a
  Gyer&shy;mek&shy;vé&shy;del&shy;mi Erzsébet utalvány – meleg étkezési utalványokkal is ki lehet egyenlíteni. Az
  aktuális normál és diétás étlapok, és az ONLINE befizetés elérhetősége az NGSZ hivatalos honlapján – <a
    href="http://ngsz.hu/" target="_blank">www.ngsz.hu</a> – megtekinthetőek és letölthetőek.
</p>