{{!-- This is the base layout for your project, and will be used on every page
unless specified. --}}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A {{title}} weboldala</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{root}}assets/img/favicon_{{favicon}}.ico" />
    <link rel="stylesheet" href="{{root}}assets/css/app.css" />
</head>

<body>
    <!-- <style>
        body {
            overflow-x: hidden;
        }
    </style> -->
    {{!-- Pages you create in the src/pages/ folder are inserted here when the
    flattened page is created. --}}
    <div class="grid-y medium-grid-frame">
        <div class="cell shrink header medium-cell-block-container">
            <div class="grid-x grid-padding-x">

                {{#with global.schools.ps}}

                {{> sticky_bar}}
                {{/with}}
            </div>
        </div>
        <div class="cell medium-auto medium-cell-block-container">
            <div class="grid-x grid-padding-x">
                <div class="cell medium-3 medium-cell-block-y">
                    {{>menu}}

                </div>
                <div class="cell medium-9 medium-cell-block-y">
                    <div class="grid-x grid-padding-x">
                        <div class="cell medium-12 large-9">
                            {{#with global.schools.ps}}
                            {{> body}}
                            {{/with}}
                        </div>
                        <div class="cell medium-12 large-3">
                            {{#with global.schools.ps}}
                            {{> right_column}}
                            {{/with}}
                        </div>



                    </div>

                </div>
            </div>
        </div>
        <!-- Footer -->
        <!-- <div class="cell shrink footer">
            <h3>Here's my footer</h3>
        </div> -->
    </div>

    <script src="{{root}}assets/js/app.js"></script>
</body>

</html>